Repository SUSE/doc-unversioned, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dmpop, @tbazant, @taroth21, @tahliar, @tomschr

Fix image link
  container-guide/concepts/containers-orchestration.xml
Owners: none

Remove image-type label
  container-guide/concepts/containers-bci-labels.xml
Owners: none

Correct structure & disable section
  trento/xml/article_sap_trento.xml
Owners: none

Correct structure & disable section (#149)
  trento/xml/article_sap_trento.xml
Owners: none

Container Guide: integrate proofing corrections (#148)
  container-guide/concepts/containers-bci-intro.xml
  container-guide/concepts/containers-bci-understand.xml
  container-guide/concepts/containers-build-app-images.xml
  container-guide/concepts/containers-build-images.xml
  container-guide/concepts/containers-docker-registry.xml
  container-guide/concepts/containers-docker.xml
  container-guide/concepts/containers-intro.xml
  container-guide/concepts/containers-orchestration.xml
  container-guide/concepts/containers-podman.xml
  container-guide/concepts/containers-repo-reg.xml
  container-guide/concepts/containers-support.xml
  container-guide/concepts/containers-tools.xml
Owners: none

Replace SVGs w/PNGs
  container-guide/concepts/containers-intro.xml
  container-guide/concepts/containers-orchestration.xml
  container-guide/images/src/png/container-image-layers.png
  container-guide/images/src/png/container-workflow.png
  container-guide/images/src/png/docker_architecture.png
  container-guide/images/src/png/pods_architecture.png
Owners: none

Enrich existing helm cmd
  trento/xml/article_sap_trento.xml
Owners: none

Enrich existing helm cmd (#150)
  trento/xml/article_sap_trento.xml
Owners: none

Update GitHub Actions
  .github/workflows/docbook.yml
Owners: none

Add bash convert helper
  trento/migration/convert_migration_to_docbook.sh
Owners: none

Add migrated xml
  trento/migration/ansible-install.xml
  trento/migration/container-install.xml
  trento/migration/systemd-install.xml
Owners: none

Add migration markdown
  trento/migration/ansible-install.md
  trento/migration/container-install.md
  trento/migration/systemd-install.md
Owners: none

Include new XML files
  trento/xml/ansible-install.xml
  trento/xml/article_sap_trento.xml
  trento/xml/container-install.xml
  trento/xml/systemd-install.xml
Owners: none

Fix typo in markdown and remove reference
  trento/migration/systemd-install.md
Owners: none

Remove helper script
  trento/migration/convert_migration_to_docbook.sh
Owners: none

Fixes and tweaks
  trento/xml/container-install.xml
  trento/xml/systemd-install.xml
Owners: none

First proofread
  trento/xml/ansible-install.xml
  trento/xml/container-install.xml
  trento/xml/systemd-install.xml
Owners: none

Pretty formatting
  trento/xml/ansible-install.xml
  trento/xml/container-install.xml
  trento/xml/systemd-install.xml
Owners: none

Trento manual installation documentation migration (#151)
  trento/migration/ansible-install.md
  trento/migration/container-install.md
  trento/migration/systemd-install.md
  trento/xml/ansible-install.xml
  trento/xml/article_sap_trento.xml
  trento/xml/container-install.xml
  trento/xml/systemd-install.xml
Owners: none

basic style guide and XML formatting changes
  pcidss/xml/art_security_pcidss.xml
Owners: none

remove officially/official
  container-guide/concepts/containers-bci-intro.xml
  container-guide/concepts/containers-bci-lifecycle.xml
  container-guide/concepts/containers-tools.xml
Owners: none

Update hardware information gathered by SUSEConnect
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Owners: none

Removing duplicated images and getting rid of image subdirectories
  container-guide/DC-Container-guide
  container-guide/concepts/containers-intro.xml
  container-guide/concepts/containers-orchestration.xml
  container-guide/images/container-image-layers.svg
  container-guide/images/container-workflow.svg
  container-guide/images/docker_architecture.svg
  container-guide/images/pods_architecture.svg
  container-guide/images/src/png/container-image-layers.png
  container-guide/images/src/png/container-workflow.png
  container-guide/images/src/png/docker_architecture.png
  container-guide/images/src/png/pods_architecture.png
Owners: @dmpop

Fix bsc-1204375
  container-guide/concepts/containers-bci-general.xml
Owners: none

Changes to the server update procedure
  trento/xml/article_sap_trento.xml
Owners: none

Update article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Owners: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Owners: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Owners: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Owners: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Owners: none

Changes to the server update procedure (#156)
  trento/xml/article_sap_trento.xml
Owners: none

Add DOCBOOK5_RNG_URI for STIG
  stig/DC-SLES-stig
Owners: @taroth21

Release of version 2.3.2
  trento/xml/article_sap_trento.xml
Owners: none

Update article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Owners: none

Fix syntax error in table
  trento/xml/article_sap_trento.xml
Owners: none

Release of version 2.3.2 (#157)
  trento/xml/article_sap_trento.xml
Owners: none

OpenSCAP: add metadata
  openscap/xml/article_openscap.xml
Owners: none

STIG: add metadata
  stig/xml/article_stig.xml
Owners: none

OpenSCAP: correct revhistory
  openscap/xml/article_openscap.xml
Owners: none

PCI DSS: add metadata
  pcidss/xml/art_security_pcidss.xml
Owners: none

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# Pattern			Maintainer
#
# default
#*				@SUSE/documentation


# Specific maintainers
container-guide/*			@dmpop
kubevirt/*				@tbazant
openscap/*				@taroth21
pcidss/*				@taroth21
sap-ha-support/*			@tahliar
scc-hypervisor-collector/*	@tbazant
stig/*				@taroth21
suseconnect-visibility/*	@tbazant
trento/*				@tomschr
