Repository SUSE/doc-unversioned, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dmpop, @tbazant, @taroth21, @tahliar, @tomschr

Add Kubernetes Provider entry to suseconnect visibility (#238)
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Owners: none

semi-reverting style updates
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Owners: none

Semi-reverting style updates (#239)
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Owners: none

Adds Opt In/Out revision entry
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Owners: none

Add vendor to SUSEConnect collection info
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Owners: none

Apply suggestions from code review
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Owners: none

Add ha_active to SUSEConnect collection info (#237)
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Owners: none

validation fix
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Owners: none

Adds Opt In/Out revision entry
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Owners: none

container-guide: update version references SP3/4/5 → SP6/SP7
  container-guide/concepts/containers-bci-get-started.xml
  container-guide/concepts/containers-bci-intro.xml
  container-guide/concepts/containers-bci-labels.xml
  container-guide/concepts/containers-bci-tags.xml
  container-guide/concepts/containers-bci-understand.xml
  container-guide/concepts/containers-tools.xml
Owners: none

container-guide: rebrand SLE BCI → SUSE Linux BCI
  container-guide/common/product-entities.ent
Owners: none

container-guide: expand BCI hierarchy and fix support status claim
  container-guide/concepts/containers-bci-general.xml
  container-guide/concepts/containers-bci-lifecycle.xml
Owners: none

container-guide: drop Notary v1, fix key URL typo, flag latest tag move
  container-guide/concepts/containers-bci-intro.xml
  container-guide/concepts/containers-bci-tags.xml
  container-guide/concepts/containers-verify.xml
Owners: none

container-guide: refresh language stacks and expand application BCIs
  container-guide/concepts/containers-bci-app.xml
  container-guide/concepts/containers-bci-language.xml
Owners: none

container-guide: fix :latest tag note — staged migration, not done
  container-guide/concepts/containers-bci-tags.xml
Owners: none

container-guide: drop "stable" tag mention in language stacks note
  container-guide/concepts/containers-bci-language.xml
Owners: none

container-guide: don't imply a pre-announced flip date for bci-* :latest
  container-guide/concepts/containers-bci-tags.xml
Owners: none

Update suseconnect-visibility/xml/art_suseconnect_visibility.xml
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Owners: none

Apply suggestions from code review
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Owners: none

Adds Opt In/Out entry to suseconnect visibility (#240)
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Owners: none

Fix typo
  sap-ha-support/xml/art-sap-ha-support.xml
Owners: none

Fix typo (#246)
  sap-ha-support/xml/art-sap-ha-support.xml
Owners: none

Apply suggestions from code review
  container-guide/concepts/containers-bci-app.xml
  container-guide/concepts/containers-bci-language.xml
Owners: none

Apply suggestions from code review
  container-guide/concepts/containers-bci-labels.xml
  container-guide/concepts/containers-tools.xml
Owners: none

Apply suggestions from code review
  container-guide/concepts/containers-bci-general.xml
  container-guide/concepts/containers-bci-lifecycle.xml
Owners: none

Apply suggestions from code review
  container-guide/concepts/containers-bci-intro.xml
  container-guide/concepts/containers-bci-tags.xml
Owners: none

Fixed validation error
  container-guide/concepts/containers-bci-app.xml
Owners: none

Disabled revhistory generation
  container-guide/DC-Container-guide
  container-guide/l10n/zh-cn/DC-Container-guide
  licenses/DC-gfdl
  openscap/DC-SLES-openscap
  pcidss/DC-SLES-pci-dss
  pcidss/l10n/zh-cn/DC-SLES-pci-dss
  sap-ha-support/DC-sap-ha-support
  scc-hypervisor-collector/DC-SLE-scc-hypervisor-collector
  stig/DC-SLES-stig
  suseconnect-visibility/DC-SLE-suseconnect-visibility
  system-uptime-tracking/DC-SLE-system-uptime-tracking
Owners: @dmpop, @taroth21, @tahliar, @tbazant

Hypervisor details: fixed bugzilla and github links
  scc-hypervisor-collector/xml/art-scc-hypervisor-collector.xml
Owners: none

july 2026 doc-kit run
  sap-ha-support/doc-kit.conf
  sap-ha-support/xml/common_copyright_gfdl.xml
  sap-ha-support/xml/common_intro_available_doc.xml
  sap-ha-support/xml/common_intro_convention.xml
  sap-ha-support/xml/common_intro_feedback.xml
  sap-ha-support/xml/common_intro_support.xml
  sap-ha-support/xml/common_legal.xml
  sap-ha-support/xml/common_license_gfdl1.2.xml
  sap-ha-support/xml/generic-entities.ent
Owners: @tahliar

Fix validation
  sap-ha-support/xml/art-sap-ha-support.xml
  sap-ha-support/xml/generic-entities.ent
Owners: none

Update assignee for container guide
  container-guide/articles/Container-guide.asm.xml
  container-guide/l10n/zh-cn/xml/Container-guide.xml
Owners: none

Add initial files
  sap-ha-support/DC-sap-ha-support-angi
  sap-ha-support/DC-sap-ha-support-classic
  sap-ha-support/DC-sap-ha-support-s4hana-nw
  sap-ha-support/xml/art-sap-ha-support-angi.xml
  sap-ha-support/xml/art-sap-ha-support-classic.xml
  sap-ha-support/xml/art-sap-ha-support-s4hana-nw.xml
  sap-ha-support/xml/sap-ha-support-statement.xml
Owners: @tahliar

GH Action: Update actions
  .github/workflows/docbook.yml
Owners: none

GH Action: Add trigger path for YAML files
  .github/workflows/docbook.yml
Owners: none

Add docs topic
  sap-ha-support/xml/art-sap-ha-support-angi.xml
  sap-ha-support/xml/art-sap-ha-support-classic.xml
  sap-ha-support/xml/art-sap-ha-support-s4hana-nw.xml
  sap-ha-support/xml/sap-ha-configuration-guides.xml
Owners: none

Add angi upgrade topic
  sap-ha-support/xml/art-sap-ha-support-angi.xml
  sap-ha-support/xml/art-sap-ha-support-classic.xml
  sap-ha-support/xml/art-sap-ha-support-s4hana-nw.xml
  sap-ha-support/xml/product-entities.ent
  sap-ha-support/xml/sap-ha-upgrade-to-saphanasr-angi.xml
Owners: none

Add hook script topics
  sap-ha-support/xml/art-sap-ha-support-angi.xml
  sap-ha-support/xml/art-sap-ha-support-classic.xml
  sap-ha-support/xml/art-sap-ha-support-s4hana-nw.xml
  sap-ha-support/xml/sap-ha-hadr-provider-hook-scripts-angi.xml
  sap-ha-support/xml/sap-ha-hadr-provider-hook-scripts-classic.xml
Owners: none

Add s4hana and nw overview
  sap-ha-support/xml/art-sap-ha-support-angi.xml
  sap-ha-support/xml/art-sap-ha-support-classic.xml
  sap-ha-support/xml/art-sap-ha-support-s4hana-nw.xml
  sap-ha-support/xml/product-entities.ent
  sap-ha-support/xml/sap-ha-solutions-for-s4hana-nw.xml
Owners: none

Add s4hana and nw support matrices
  sap-ha-support/xml/art-sap-ha-support-s4hana-nw.xml
  sap-ha-support/xml/sap-ha-solutions-for-s4hana-nw.xml
  sap-ha-support/xml/sap-ha-support-matrix-nw.xml
  sap-ha-support/xml/sap-ha-support-matrix-s4hana.xml
Owners: none

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# Pattern			Maintainer
#
# default
#*				@SUSE/documentation


# Specific maintainers
container-guide/*			@dmpop
kubevirt/*				@tbazant
openscap/*				@taroth21
pcidss/*				@taroth21
sap-ha-support/*			@tahliar
scc-hypervisor-collector/*	@tbazant
stig/*				@taroth21
suseconnect-visibility/*	@tbazant
trento/*				@tomschr
