Repository SUSE/doc-unversioned, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dmpop, @tbazant, @taroth21, @tahliar, @tomschr

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# Pattern			Maintainer
#
# default
#*				@SUSE/documentation


# Specific maintainers
container-guide/*			@dmpop
kubevirt/*				@tbazant
openscap/*				@taroth21
pcidss/*				@taroth21
sap-ha-support/*			@tahliar
scc-hypervisor-collector/*	@tbazant
stig/*				@taroth21
suseconnect-visibility/*	@tbazant
trento/*				@tomschr

Fix for DOCTEAM-2045
  openscap/xml/article_openscap.xml
Owners: none

changed oscap prompts from sudo to user
  openscap/xml/article_openscap.xml
Owners: none

remaining content
  openscap/xml/article_openscap.xml
Owners: none

removed slem DC file, added profiles for slem and image, and minor additions
  openscap/DC-SLEM-openscap
  openscap/images/src/png/scap-workbench-ssg-slem5-profiles.png
  openscap/xml/article_openscap.xml
Owners: @taroth21

Removed openscap from packages to be installed, as it is installed as a dependency of openscap-utils
  openscap/xml/article_openscap.xml
Owners: none

DOCTEAM-2018 OpenSCAP Docs Updates for SLES and SLEM (#230)
  openscap/images/src/png/scap-workbench-ssg-slem5-profiles.png
  openscap/xml/article_openscap.xml
Owners: none

Add pci profile collection information. Update README to recommend daps2docker
  README.adoc
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Owners: none

Add pci profile collection information. Update README to recommend daps2docker
  README.adoc
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Owners: none

Added revision infor, shortened PCI IDs
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Owners: none

initial/surface-level profiling
  openscap/DC-SLEM-openscap
  openscap/xml/article_openscap.xml
Owners: @taroth21

Profiling for Micro.
  openscap/xml/article_openscap.xml
Owners: none

Remove workflow file due to security issues
  .github/workflows/labeler.yml
Owners: none

Profiling for Micro 6
  openscap/xml/article_openscap.xml
Owners: none

Review comments from Jana and other minor changes
  openscap/xml/article_openscap.xml
Owners: none

Some more obvious sles profiling
  openscap/xml/article_openscap.xml
Owners: none

Fix profiling issues
  openscap/xml/article_openscap.xml
Owners: none

Update GitHub Actions
  .github/workflows/docbook.yml
Owners: none

Add vendor to suseconnect collection info
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Owners: none

Fixed BSC#1252132.
  container-guide/concepts/containers-verify.xml
Owners: none

Update suseconnect-visibility/xml/art_suseconnect_visibility.xml
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Owners: none

Update suseconnect-visibility/xml/art_suseconnect_visibility.xml
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Owners: none

Apply suggestions from code review
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Owners: none

Add vendor to SUSEConnect collection info (#234)
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Owners: none

Replaced &sle; and &sles; with &productname;, and &slea; with &productnameshort;
  openscap/xml/article_openscap.xml
Owners: none

initial/surface-level profiling
  openscap/DC-SLEM-openscap
  openscap/xml/article_openscap.xml
Owners: @taroth21

Review comments from Jana and other minor changes
  openscap/xml/article_openscap.xml
Owners: none

Some more obvious sles profiling
  openscap/xml/article_openscap.xml
Owners: none

Profiling for Micro. (#233)
  openscap/xml/article_openscap.xml
Owners: none

Removed openscap from list of packages to be installed, as it is now installed as a dependency of the openscap-utils package
  openscap/xml/article_openscap.xml
Owners: none

Completed profiling for Micro 6.
  openscap/DC-SLEM-5-openscap
  openscap/DC-SLEM-6-openscap
  openscap/xml/article_openscap.xml
  openscap/xml/product-entities.ent
Owners: @taroth21

Fixed broken links
  scc-hypervisor-collector/xml/art-scc-hypervisor-collector.xml
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Owners: none

Apply SME-suggested changes for SLES, SLEM 5, and SLEM 6 OpenSCAP articles
  openscap/images/src/png/openscap-ssg-static-html-sle16.png
  openscap/xml/article_openscap.xml
  openscap/xml/product-entities.ent
Owners: none

Changed images of supported profiles based on latest GitHub URLs instead of old OpenSCAP website URLs, and added note of clarification
  openscap/images/src/png/openscap-ssg-static-html-sle12.png
  openscap/images/src/png/openscap-ssg-static-html-sle15.png
  openscap/images/src/png/openscap-ssg-static-html-sle16.png
  openscap/xml/article_openscap.xml
Owners: none

DOCTEAM-2108 Profiling OpenSCAP docs for SLES and SLEM (#232)
  openscap/DC-SLEM-5-openscap
  openscap/DC-SLEM-6-openscap
  openscap/images/src/png/openscap-ssg-static-html-sle12.png
  openscap/images/src/png/openscap-ssg-static-html-sle15.png
  openscap/images/src/png/openscap-ssg-static-html-sle16.png
  openscap/xml/article_openscap.xml
  openscap/xml/product-entities.ent
Owners: @taroth21

Updated several headings and an abstract for GEO
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Owners: none

reemoved a double period
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Owners: none

applied review suggestion + minor improvement
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Owners: none

System visibility: updated headings and abstract for GEO (#235)
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Owners: none

Disabled revhistory generation
  container-guide/DC-Container-guide
  container-guide/l10n/zh-cn/DC-Container-guide
  licenses/DC-gfdl
  openscap/DC-SLES-openscap
  pcidss/DC-SLES-pci-dss
  pcidss/l10n/zh-cn/DC-SLES-pci-dss
  sap-ha-support/DC-sap-ha-support
  scc-hypervisor-collector/DC-SLE-scc-hypervisor-collector
  stig/DC-SLES-stig
  suseconnect-visibility/DC-SLE-suseconnect-visibility
  system-uptime-tracking/DC-SLE-system-uptime-tracking
Owners: @dmpop, @taroth21, @tahliar, @tbazant

Add Kubernetes Provider entry to suseconnect visibility
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Owners: none
