Repository SUSE/doc-unversioned, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dmpop, @tbazant, @taroth21, @tahliar, @tomschr

doc-kit run: fetch updates
  openscap/doc-kit.conf
  openscap/xml/generic-entities.ent
Owners: @taroth21

doc-kit run: fetch updates
  pcidss/doc-kit.conf
  pcidss/xml/common_license_gfdl1.2.xml
  pcidss/xml/generic-entities.ent
Owners: @taroth21

doc-kit run: fetch updates
  sap-ha-support/doc-kit.conf
  sap-ha-support/xml/common_copyright_gfdl.xml
  sap-ha-support/xml/common_license_gfdl1.2.xml
  sap-ha-support/xml/generic-entities.ent
Owners: @tahliar

doc-kit run: fetch updates
  scc-hypervisor-collector/doc-kit.conf
  scc-hypervisor-collector/xml/common_intro_available_doc.xml
  scc-hypervisor-collector/xml/common_intro_convention.xml
  scc-hypervisor-collector/xml/common_intro_feedback.xml
  scc-hypervisor-collector/xml/generic-entities.ent
Owners: @tbazant

doc-kit run: fetch updates
  stig/doc-kit.conf
  stig/xml/common_license_gfdl1.2.xml
  stig/xml/generic-entities.ent
Owners: @taroth21

doc-kit run: fetch updates
  suseconnect-visibility/doc-kit.conf
  suseconnect-visibility/xml/generic-entities.ent
Owners: @tbazant

doc-kit run: fetch updates
  trento/doc-kit.conf
  trento/xml/generic-entities.ent
Owners: @tomschr

daps linkcheck
  container-guide/concepts/containers-orchestration.xml
Owners: none

links: http -> https
  container-guide/concepts/containers-build-app-images.xml
  container-guide/concepts/containers-docker.xml
  container-guide/concepts/containers-orchestration.xml
  container-guide/concepts/containers-terms.xml
  container-guide/concepts/containers-tools.xml
Owners: none

doc-kit run (fetch updates)
  openscap/doc-kit.conf
  openscap/xml/generic-entities.ent
Owners: @taroth21

links: http -> https
  openscap/xml/common_copyright_quick.xml
  openscap/xml/common_license_gfdl1.2.xml
Owners: none

links: http -> https
  stig/xml/common_copyright_quick.xml
Owners: none

Fix broken links in SAP HA guide
  sap-ha-support/xml/art-sap-ha-support.xml
Owners: none

revert https for localhost
  container-guide/concepts/containers-build-app-images.xml
Owners: none

Container Guide: fix links (#116)
  container-guide/concepts/containers-docker.xml
  container-guide/concepts/containers-orchestration.xml
  container-guide/concepts/containers-terms.xml
  container-guide/concepts/containers-tools.xml
Owners: none

Fix language
  container-guide/concepts/containers-orchestration.xml
Owners: none

Rename CPUs => vCPUs
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Owners: none

Before new content: Rebase with main, Vale fixes, XML formatting
  openscap/xml/article_openscap.xml
  stig/xml/article_stig.xml
Owners: none

Before new content: Rebase with main, Vale fixes, XML formatting (#120)
  openscap/xml/article_openscap.xml
  stig/xml/article_stig.xml
Owners: none

Rename gfdl.xml
  licenses/xml/gfdl_1.2.xml
Owners: none

Put the acronym at the end (title)
  licenses/xml/gfdl_1.2.xml
Owners: none

Add GFDL license product
  licenses/DC-gfdl
  licenses/xml/gfdl.xml
Owners: none

Add new XML file as MAIN
  licenses/DC-gfdl
Owners: none

Add GFDL license product (#117)
  licenses/DC-gfdl
  licenses/xml/gfdl_1.2.xml
Owners: none

Update list of projects
  README.adoc
Owners: none

Add a new doc link for SusTkOver.py
  sap-ha-support/xml/art-sap-ha-support.xml
Owners: none

Update article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Owners: none

DOCTEAM-1171-Add-process-to-customize-tailor-STIG
  openscap/images/src/png/openscap-ssg-static-html-sle12.png
  openscap/images/src/png/openscap-ssg-static-html-sle15.png
  openscap/images/src/png/scap-workbench.png
  openscap/xml/article_openscap.xml
  stig/images/src/png/scap-workbench-profile-disa-stig.png
  stig/images/src/png/scap-workbench-profile-stig-customize.png
  stig/images/src/png/scap-workbench-select-content-to-load.png
  stig/images/src/png/scap-workbench-select-rule.png
  stig/images/src/png/scap-workbench-tailor-file-save.png
  stig/xml/article_stig.xml
Owners: none

DOCTEAM-1171-Add-process-to-customize-tailor-STIG (#121)
  openscap/images/src/png/openscap-ssg-static-html-sle12.png
  openscap/images/src/png/openscap-ssg-static-html-sle15.png
  openscap/images/src/png/scap-workbench.png
  openscap/xml/article_openscap.xml
  stig/images/src/png/scap-workbench-profile-disa-stig.png
  stig/images/src/png/scap-workbench-profile-stig-customize.png
  stig/images/src/png/scap-workbench-select-content-to-load.png
  stig/images/src/png/scap-workbench-select-rule.png
  stig/images/src/png/scap-workbench-tailor-file-save.png
  stig/xml/article_stig.xml
Owners: none

Add note and title
  trento/xml/article_sap_trento.xml
Owners: none

Update article_sap_trento.xml (#123)
  trento/xml/article_sap_trento.xml
Owners: none

Add links for most HADR scripts
  sap-ha-support/xml/art-sap-ha-support.xml
Owners: none

Add doc links for HADR provider hook scripts (#122)
  sap-ha-support/xml/art-sap-ha-support.xml
Owners: none

added syntax highlighting for xml snippet
  stig/xml/article_stig.xml
Owners: none

added syntax highlighting for xml snippet (#124)
  stig/xml/article_stig.xml
Owners: none

Update support stmt
  container-guide/concepts/containers-support.xml
Owners: none

commit for content backup
  openscap/xml/article_openscap.xml
  stig/xml/article_stig.xml
Owners: none

structure for upcoming content
  openscap/xml/article_openscap.xml
Owners: none

full draft
  openscap/xml/article_openscap.xml
Owners: none

Editorial changes
  openscap/xml/article_openscap.xml
  stig/xml/article_stig.xml
Owners: none

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# Pattern			Maintainer
#
# default
#*				@SUSE/documentation


# Specific maintainers
container-guide/*			@dmpop
kubevirt/*				@tbazant
openscap/*				@taroth21
pcidss/*				@taroth21
sap-ha-support/*			@tahliar
scc-hypervisor-collector/*	@tbazant
stig/*				@taroth21
suseconnect-visibility/*	@tbazant
trento/*				@tomschr
