Repository SUSE/doc-unversioned, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dmpop, @tbazant, @taroth21, @tahliar, @tomschr

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# Pattern			Maintainer
#
# default
#*				@SUSE/documentation


# Specific maintainers
container-guide/*			@dmpop
kubevirt/*				@tbazant
openscap/*				@taroth21
pcidss/*				@taroth21
sap-ha-support/*			@tahliar
scc-hypervisor-collector/*	@tbazant
stig/*				@taroth21
suseconnect-visibility/*	@tbazant
trento/*				@tomschr

fix metadata: its -> no for tasks
  sap-ha-support/xml/art-sap-ha-support.xml
  trento/xml/article_sap_trento.xml
Owners: none

doc-kit run (fetch updates)
  trento/.gitignore
  trento/doc-kit.conf
  trento/xml/generic-entities.ent
Owners: @tomschr

Corrected minor typos
  trento/xml/ansible-install.xml
  trento/xml/container-install.xml
  trento/xml/sso-integration.xml
  trento/xml/systemd-install.xml
  trento/xml/trento-activity-log.xml
  trento/xml/trento-analyze-problems.xml
  trento/xml/trento-install-server.xml
  trento/xml/trento-report-problem.xml
  trento/xml/trento-rotate-api-keys.xml
  trento/xml/trento-smlm-integration.xml
  trento/xml/trento-update-trento-checks.xml
  trento/xml/trento-update-trentoserver.xml
  trento/xml/trento-user-manage.xml
  trento/xml/trento-version-history.xml
  trento/xml/trento-web-console.xml
Owners: none

pcidss: doc-kit run (fetch updates)
  pcidss/.gitignore
  pcidss/doc-kit.conf
  pcidss/xml/generic-entities.ent
Owners: @taroth21

Container Guide: doc-kit run (fetch updates)
  container-guide/.gitignore
  container-guide/common/generic-entities.ent
  container-guide/doc-kit.conf
  container-guide/templates/_DC-article
  container-guide/templates/articles/assembly.asm.xml
Owners: @dmpop

openSCAP: doc-kit run (fetch updates)
  openscap/.gitignore
  openscap/doc-kit.conf
  openscap/xml/generic-entities.ent
Owners: @taroth21

sap-ha-support: doc-kit run (fetch updates)
  sap-ha-support/.gitignore
  sap-ha-support/doc-kit.conf
  sap-ha-support/xml/common_license_gfdl1.2.xml
  sap-ha-support/xml/generic-entities.ent
Owners: @tahliar

scc-hyperv-coll: doc-kit run (fetch updates)
  scc-hypervisor-collector/.gitignore
  scc-hypervisor-collector/doc-kit.conf
  scc-hypervisor-collector/xml/generic-entities.ent
Owners: @tbazant

stig: doc-kit run (fetch updates)
  stig/.gitignore
  stig/doc-kit.conf
  stig/xml/common_license_gfdl1.2.xml
  stig/xml/generic-entities.ent
Owners: @taroth21

suseconnect-visib: doc-kit run (fetch updates)
  suseconnect-visibility/.gitignore
  suseconnect-visibility/doc-kit.conf
  suseconnect-visibility/xml/generic-entities.ent
Owners: @tbazant

system-uptime-track: doc-kit run (fetch updates)
  system-uptime-tracking/.gitignore
  system-uptime-tracking/doc-kit.conf
  system-uptime-tracking/xml/generic-entities.ent
Owners: none

SuMa to SMLM: updated doc URLs and entities
  pcidss/xml/art_security_pcidss.xml
Owners: none

SuMa to SMLM: updated doc URLs and entities
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Owners: none

fix productname spelling
  sap-ha-support/xml/product-entities.ent
Owners: none

SuMa to SMLM: updated doc URLs and entities (#214)
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Owners: none

fix productname spelling (#215)
  sap-ha-support/xml/product-entities.ent
Owners: none

SuMa to SMLM: updated doc URLs and entities (#213)
  pcidss/xml/art_security_pcidss.xml
Owners: none

doc-kit run (fetch updates) (#212)
  trento/.gitignore
  trento/doc-kit.conf
  trento/xml/generic-entities.ent
Owners: @tomschr

SMLM to entity
  trento/xml/trento-intro.xml
  trento/xml/trento-smlm-integration.xml
  trento/xml/trento-version-history.xml
  trento/xml/trento-web-console.xml
Owners: none

Fix 404
  container-guide/concepts/containers-orchestration.xml
Owners: none

Update entities
  container-guide/concepts/containers-support.xml
Owners: none

Fix typo in entity (x86_64 -> x86-64)
  container-guide/concepts/containers-support.xml
Owners: none

Fix 404 in zh-cn
  container-guide/l10n/zh-cn/xml/Container-guide.xml
Owners: none

Fix DC file
  trento/DC-SLES-SAP-trento
Owners: @tomschr

ASCIIDoc conversion WIP
  trento/adoc/trento-guide.adoc
  trento/adoc/trento-intro.adoc
  trento/xml/trento-intro.xml
Owners: none

Add more adoc files. WIP
  trento/adoc/ansible-install.adoc
  trento/adoc/container-install.adoc
  trento/adoc/helm-event-pruning.adoc
  trento/adoc/product-attributes.adoc
  trento/adoc/systemd-install.adoc
  trento/adoc/trento-guide.adoc
  trento/adoc/trento-install-server.adoc
  trento/adoc/trento-intro.adoc
  trento/adoc/trento-lifecycle.adoc
  trento/adoc/trento-requirements.adoc
Owners: none

Fix a typo in include statement
  trento/adoc/trento-intro.adoc
Owners: none

Add ADoc attributes and validation with DB5.2
  trento/DC-SLES-SAP-trento
Owners: @tomschr

Adding more files. WIP
  trento/adoc/attributes-generic.adoc
  trento/adoc/product-attributes-cc.adoc
  trento/adoc/product-attributes-gfdl.adoc
  trento/adoc/trento-guide.adoc
  trento/adoc/trento-intro.adoc
Owners: none

More adoc files. WIP
  trento/adoc/ansible-install.adoc
  trento/adoc/container-install.adoc
  trento/adoc/trento-install-server.adoc
Owners: none

Add correct level for sublevel hierarchy
  trento/adoc/trento-guide.adoc
Owners: none

Add converted files
  trento/adoc/generic-attributes.adoc
  trento/adoc/trento-guide.adoc
  trento/adoc/trento-install-agents.adoc
  trento/xml/trento-install-agents.xml
Owners: none

Fixes
  trento/adoc/product-attributes.adoc
  trento/adoc/trento-guide.adoc
Owners: none

More fixes
  trento/adoc/product-attributes.adoc
  trento/adoc/trento-intro.adoc
Owners: none

Add more adoc files. WIP
  trento/adoc/helm-event-pruning.adoc
  trento/adoc/helm_event_pruning.adoc
  trento/adoc/systemd-install.adoc
  trento/adoc/trento-install-server.adoc
Owners: none

Add even more files. WIP
  trento/adoc/product-attributes.adoc
  trento/adoc/trento-activity-log.adoc
  trento/adoc/trento-checks.adoc
  trento/adoc/trento-guide.adoc
  trento/adoc/trento-housekeeping.adoc
  trento/adoc/trento-sso-integration.adoc
  trento/adoc/trento-user-manage.adoc
  trento/adoc/trento-web-console.adoc
  trento/xml/sso-integration.xml
  trento/xml/trento-activity-log.xml
  trento/xml/trento-checks.xml
  trento/xml/trento-housekeeping.xml
  trento/xml/trento-user-manage.xml
  trento/xml/trento-web-console.xml
Owners: none

Last batch of converted files. WIP
  trento/adoc/trento-analyze-problems.adoc
  trento/adoc/trento-compatibility.adoc
  trento/adoc/trento-guide.adoc
  trento/adoc/trento-manage-tags.adoc
  trento/adoc/trento-more-info.adoc
  trento/adoc/trento-report-issue.adoc
  trento/adoc/trento-rotate-api-keys.adoc
  trento/adoc/trento-smlm-integration.adoc
  trento/adoc/trento-uninstall-trento-agent.adoc
  trento/adoc/trento-uninstall-trento-server.adoc
  trento/adoc/trento-update-trento-agent.adoc
  trento/adoc/trento-update-trento-checks.adoc
  trento/adoc/trento-update-trento-server.adoc
  trento/adoc/trento-version-history.adoc
  trento/xml/trento-analyze-problems.xml
  trento/xml/trento-compatibility.xml
  trento/xml/trento-manage-tags.xml
  trento/xml/trento-report-problem.xml
  trento/xml/trento-rotate-api-keys.xml
  trento/xml/trento-smlm-integration.xml
  trento/xml/trento-uninstall-trentoagent.xml
  trento/xml/trento-uninstall-trentoserver.xml
  trento/xml/trento-update-trento-checks.xml
  trento/xml/trento-update-trentoagent.xml
  trento/xml/trento-update-trentoserver.xml
  trento/xml/trento-version-history.xml
Owners: none

Fix code formatting
  trento/adoc/trento-analyze-problems.adoc
  trento/adoc/trento-install-agents.adoc
  trento/adoc/trento-install-server.adoc
  trento/adoc/trento-sso-integration.adoc
  trento/adoc/trento-systemd-install.adoc
  trento/adoc/trento-uninstall-trento-agent.adoc
  trento/adoc/trento-uninstall-trento-server.adoc
  trento/adoc/trento-update-trento-agent.adoc
  trento/adoc/trento-update-trento-server.adoc
Owners: none

Feedback done
  trento/adoc/trento-analyze-problems.adoc
  trento/adoc/trento-compatibility.adoc
  trento/adoc/trento-container-install.adoc
  trento/adoc/trento-install-server.adoc
  trento/adoc/trento-intro.adoc
  trento/adoc/trento-lifecycle.adoc
  trento/adoc/trento-report-issue.adoc
  trento/adoc/trento-requirements.adoc
  trento/adoc/trento-sso-integration.adoc
  trento/adoc/trento-systemd-install.adoc
  trento/adoc/trento-user-manage.adoc
  trento/adoc/trento-version-history.adoc
Owners: none

More fixes and feedback. WIP
  trento/adoc/trento-checks.adoc
  trento/adoc/trento-housekeeping.adoc
  trento/adoc/trento-manage-tags.adoc
  trento/adoc/trento-smlm-integration.adoc
  trento/adoc/trento-update-trento-agent.adoc
  trento/adoc/trento-update-trento-server.adoc
  trento/adoc/trento-web-console.adoc
Owners: none
