Repository SUSE/doc-unversioned, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dmpop, @tbazant, @taroth21, @tahliar, @tomschr

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# Pattern			Maintainer
#
# default
#*				@SUSE/documentation


# Specific maintainers
container-guide/*			@dmpop
kubevirt/*				@tbazant
openscap/*				@taroth21
pcidss/*				@taroth21
sap-ha-support/*			@tahliar
scc-hypervisor-collector/*	@tbazant
stig/*				@taroth21
suseconnect-visibility/*	@tbazant
trento/*				@tomschr

Update scc-hypervisor-collector/xml/art-scc-hypervisor-collector.xml
  scc-hypervisor-collector/xml/art-scc-hypervisor-collector.xml
Owners: none

Extending tables with sent data for each type ofSCC PROXY (bsc#1214469) (#140)
  scc-hypervisor-collector/doc-kit.conf
  scc-hypervisor-collector/xml/art-scc-hypervisor-collector.xml
  scc-hypervisor-collector/xml/common_intro_available_doc.xml
  scc-hypervisor-collector/xml/common_intro_convention.xml
  scc-hypervisor-collector/xml/common_intro_support.xml
  scc-hypervisor-collector/xml/generic-entities.ent
  suseconnect-visibility/doc-kit.conf
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
  suseconnect-visibility/xml/generic-entities.ent
Owners: @tbazant

Removed the old unsupported PCI-DSS version 3.2.1
  openscap/xml/article_openscap.xml
Owners: none

Removed the old unsupported PCI-DSS version 3.2.1 (#141)
  openscap/xml/article_openscap.xml
Owners: none

Update outdated project link (#138)
  trento/xml/article_sap_trento.xml
Owners: none

basic layout for uptime tracking
  system-uptime-tracking/.editorconfig
  system-uptime-tracking/.gitignore
  system-uptime-tracking/DC-SLE-system-uptime-tracking
  system-uptime-tracking/doc-kit.conf
  system-uptime-tracking/xml/art_system-uptime-tracking.xml
  system-uptime-tracking/xml/generic-entities.ent
  system-uptime-tracking/xml/network-entities.ent
  system-uptime-tracking/xml/product-entities.ent
Owners: none

Intro done
  system-uptime-tracking/xml/art_system-uptime-tracking.xml
Owners: none

doc-kit run (fetch updates)
  container-guide/common/generic-entities.ent
  container-guide/common/license_gfdl1.2.xml
  container-guide/doc-kit.conf
  container-guide/templates/articles/assembly.asm.xml
Owners: @dmpop

doc-kit run (fetch updates)
  pcidss/doc-kit.conf
  pcidss/xml/common_license_gfdl1.2.xml
  pcidss/xml/generic-entities.ent
Owners: @taroth21

doc-kit run (fetch updates) (#143)
  container-guide/common/generic-entities.ent
  container-guide/common/license_gfdl1.2.xml
  container-guide/doc-kit.conf
  container-guide/templates/articles/assembly.asm.xml
Owners: @dmpop

doc-kit run (fetch updates) (#144)
  pcidss/doc-kit.conf
  pcidss/xml/common_license_gfdl1.2.xml
  pcidss/xml/generic-entities.ent
Owners: @taroth21

Started the article
  system-uptime-tracking/xml/art_system-uptime-tracking.xml
Owners: none

qanda wip
  system-uptime-tracking/xml/art_system-uptime-tracking.xml
Owners: none

Draft finished
  system-uptime-tracking/xml/art_system-uptime-tracking.xml
Owners: none

Apply suggestions from code review
  system-uptime-tracking/xml/art_system-uptime-tracking.xml
Owners: none

Apply suggestions from code review
  system-uptime-tracking/xml/art_system-uptime-tracking.xml
Owners: none

Applied suggestion reviews
  system-uptime-tracking/xml/art_system-uptime-tracking.xml
Owners: none

added missing series string
  trento/xml/article_sap_trento.xml
Owners: none

minor update
  system-uptime-tracking/xml/art_system-uptime-tracking.xml
Owners: none

Updated the wget command
  system-uptime-tracking/xml/art_system-uptime-tracking.xml
Owners: none

System uptime tracking (#142)
  system-uptime-tracking/.editorconfig
  system-uptime-tracking/.gitignore
  system-uptime-tracking/DC-SLE-system-uptime-tracking
  system-uptime-tracking/doc-kit.conf
  system-uptime-tracking/xml/art_system-uptime-tracking.xml
  system-uptime-tracking/xml/generic-entities.ent
  system-uptime-tracking/xml/network-entities.ent
  system-uptime-tracking/xml/product-entities.ent
Owners: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Owners: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Owners: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Owners: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Owners: none

Trento version 2.3.1 new flag required for helm installation
  trento/xml/article_sap_trento.xml
Owners: none

Disable missing images for the time being
  trento/xml/article_sap_trento.xml
Owners: none

Manually integrate PR #133
  trento/images/src/png/trento-api-key-settings.png
  trento/xml/article_sap_trento.xml
Owners: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Owners: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Owners: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Owners: none

Summary of available software updates
  trento/xml/article_sap_trento.xml
Owners: none

Remove future promises
  trento/xml/article_sap_trento.xml
Owners: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Owners: none

Add files via upload
  trento/images/src/png/trento-summary-of-available-software-updates.png
Owners: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Owners: none

Update article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Owners: none

Add files via upload
  trento/images/src/png/trento-suse-manager-settings.png
Owners: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Owners: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Owners: none
