Repository SUSE/doc-unversioned, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dmpop, @tbazant, @taroth21, @tahliar, @tomschr

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# Pattern			Maintainer
#
# default
#*				@SUSE/documentation


# Specific maintainers
container-guide/*			@dmpop
kubevirt/*				@tbazant
openscap/*				@taroth21
pcidss/*				@taroth21
sap-ha-support/*			@tahliar
scc-hypervisor-collector/*	@tbazant
stig/*				@taroth21
suseconnect-visibility/*	@tbazant
trento/*				@tomschr

Fix TRNT-3888
  trento/adoc/trento-container-install.adoc
  trento/adoc/trento-install-server.adoc
  trento/adoc/trento-systemd-install.adoc
Owners: none

Remove obsolete note
  trento/adoc/trento-container-install.adoc
Owners: none

Fix TRNT-3888 (#223)
  trento/adoc/trento-container-install.adoc
  trento/adoc/trento-install-server.adoc
  trento/adoc/trento-systemd-install.adoc
Owners: none

Fix bsc-1247555
  trento/adoc/trento-ansible-install.adoc
Owners: none

Fix bsc-1247646
  trento/adoc/trento-requirements.adoc
Owners: none

Fix compat. matrix, add hilights
  trento/adoc/trento-compatibility.adoc
  trento/adoc/trento-version-history.adoc
Owners: none

Trento 2.5 update (#221)
  trento/adoc/trento-activity-log.adoc
  trento/adoc/trento-compatibility.adoc
  trento/adoc/trento-install-agents.adoc
  trento/adoc/trento-intro.adoc
  trento/adoc/trento-version-history.adoc
  trento/migration/ansible-install.md
  trento/migration/container-install.md
  trento/migration/sso-integration.md
  trento/migration/systemd-install.md
Owners: none

Include checks customization
  trento/adoc/trento-checks-customization.adoc
  trento/adoc/trento-checks.adoc
Owners: none

Fix order
  trento/adoc/trento-checks.adoc
  trento/adoc/trento-guide.adoc
Owners: none

Fix validation
  trento/adoc/trento-checks-customization.adoc
Owners: none

1. SP7 versions for pci-dss zh-cn files, overwritting sp6 versions. 2. SP7 version of Container-guide.xml, overwriting the SP6 version.
  container-guide/l10n/zh-cn/xml/Container-guide.xml
  pcidss/l10n/zh-cn/xml/art_security_pcidss.xml
  pcidss/l10n/zh-cn/xml/common_copyright_quick.xml
Owners: none

Add automatic revdate
  trento/adoc/trento-guide-docinfo.xml
  trento/adoc/trento-guide.adoc
Owners: none

updated files post LSO
  container-guide/l10n/zh-cn/xml/Container-guide.xml
Owners: none

updated DTP edit in Container-guide.xml
  container-guide/l10n/zh-cn/xml/Container-guide.xml
Owners: none

Hiding zh-cn full-stop in certain varlistentry/term occurrences so that intermal xrefs to those terms do not appear with double punctuaion marks
  pcidss/l10n/zh-cn/xml/art_security_pcidss.xml
Owners: none

rm editurl PCIDSS and container zh-cn
  container-guide/l10n/zh-cn/xml/Container-guide.xml
  pcidss/l10n/zh-cn/xml/art_security_pcidss.xml
Owners: none

updated DTP edit in Container-guide.xml
  container-guide/l10n/zh-cn/xml/Container-guide.xml
Owners: none

updated files post LSO
  container-guide/l10n/zh-cn/xml/Container-guide.xml
Owners: none

Hiding zh-cn full-stop in certain varlistentry/term occurrences so that intermal xrefs to those terms do not appear with double punctuaion marks
  pcidss/l10n/zh-cn/xml/art_security_pcidss.xml
Owners: none

rm editurl PCIDSS and container zh-cn
  container-guide/l10n/zh-cn/xml/Container-guide.xml
  pcidss/l10n/zh-cn/xml/art_security_pcidss.xml
Owners: none

1. SP7 versions for pci-dss zh-cn files, overwritting sp6 versions. 2. SP7 version of Container-guide.xml, overwriting the SP6 version.
  container-guide/l10n/zh-cn/xml/Container-guide.xml
  pcidss/l10n/zh-cn/xml/art_security_pcidss.xml
  pcidss/l10n/zh-cn/xml/common_copyright_quick.xml
Owners: none

Remove ShellSession
  container-guide/concepts/containers-orchestration.xml
  container-guide/concepts/containers-verify.xml
  container-guide/l10n/zh-cn/xml/Container-guide.xml
Owners: none

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

Fix PED-12535
  container-guide/concepts/containers-build-images.xml
Owners: none

Known issue with blkid
  container-guide/concepts/containers-build-images.xml
Owners: none

Disable XSLTPARAM in DC file
  container-guide/l10n/zh-cn/DC-Container-guide
Owners: none

Disable XSLTPARAM in DC file otherwise build fails
  container-guide/DC-Container-guide
Owners: @dmpop

Fix PED-12535 (#227)
  container-guide/concepts/containers-build-images.xml
Owners: none

Known issue with blkid (#228)
  container-guide/concepts/containers-build-images.xml
Owners: none

Fix validation
  container-guide/concepts/containers-build-images.xml
Owners: none

Uptime tracking: added for more information links
  system-uptime-tracking/xml/art_system-uptime-tracking.xml
Owners: none

added a new revision
  system-uptime-tracking/xml/art_system-uptime-tracking.xml
Owners: none

Uptime tracking: added for more information links (#229)
  system-uptime-tracking/xml/art_system-uptime-tracking.xml
Owners: none

DOCTEAM-2018-OpenSCAP Docs Updates for SLES and SLEM
  openscap/DC-SLEM-openscap
Owners: @taroth21

DOCTEAM-2018 OpenSCAP docs revision
  openscap/xml/article_openscap.xml
Owners: none

changed orderedlist to itemizedlist
  openscap/xml/article_openscap.xml
Owners: none

Removed scap-workbench-doc package as it's not found in SLE 15 SP7 repos, and it's quite useless
  openscap/xml/article_openscap.xml
Owners: none

Added note regarding availability of the GUI software scap-workbench only on desktop installation
  openscap/xml/article_openscap.xml
Owners: none

content on profiles, rules
  openscap/xml/article_openscap.xml
Owners: none

formatting
  openscap/xml/article_openscap.xml
Owners: none
