Repository SUSE/doc-unversioned, changes with the labels that .github/labeler.yml gives for each.
All labels: prj:Container, prj:HIPAA, prj:hypervisor, prj:kubevirt, prj:openscap, prj:PCI-DSS, prj:sap-ha-support, prj:stig, prj:SUSEConnect, prj:trento

Update scc-hypervisor-collector/xml/art-scc-hypervisor-collector.xml
  scc-hypervisor-collector/xml/art-scc-hypervisor-collector.xml
Labels: none

Extending tables with sent data for each type ofSCC PROXY (bsc#1214469) (#140)
  scc-hypervisor-collector/doc-kit.conf
  scc-hypervisor-collector/xml/art-scc-hypervisor-collector.xml
  scc-hypervisor-collector/xml/common_intro_available_doc.xml
  scc-hypervisor-collector/xml/common_intro_convention.xml
  scc-hypervisor-collector/xml/common_intro_support.xml
  scc-hypervisor-collector/xml/generic-entities.ent
  suseconnect-visibility/doc-kit.conf
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
  suseconnect-visibility/xml/generic-entities.ent
Labels: prj:hypervisor, prj:SUSEConnect

Removed the old unsupported PCI-DSS version 3.2.1
  openscap/xml/article_openscap.xml
Labels: none

Removed the old unsupported PCI-DSS version 3.2.1 (#141)
  openscap/xml/article_openscap.xml
Labels: none

Update outdated project link (#138)
  trento/xml/article_sap_trento.xml
Labels: none

basic layout for uptime tracking
  system-uptime-tracking/.editorconfig
  system-uptime-tracking/.gitignore
  system-uptime-tracking/DC-SLE-system-uptime-tracking
  system-uptime-tracking/doc-kit.conf
  system-uptime-tracking/xml/art_system-uptime-tracking.xml
  system-uptime-tracking/xml/generic-entities.ent
  system-uptime-tracking/xml/network-entities.ent
  system-uptime-tracking/xml/product-entities.ent
Labels: none

Intro done
  system-uptime-tracking/xml/art_system-uptime-tracking.xml
Labels: none

doc-kit run (fetch updates)
  container-guide/common/generic-entities.ent
  container-guide/common/license_gfdl1.2.xml
  container-guide/doc-kit.conf
  container-guide/templates/articles/assembly.asm.xml
Labels: prj:Container

doc-kit run (fetch updates)
  pcidss/doc-kit.conf
  pcidss/xml/common_license_gfdl1.2.xml
  pcidss/xml/generic-entities.ent
Labels: prj:PCI-DSS

doc-kit run (fetch updates) (#143)
  container-guide/common/generic-entities.ent
  container-guide/common/license_gfdl1.2.xml
  container-guide/doc-kit.conf
  container-guide/templates/articles/assembly.asm.xml
Labels: prj:Container

doc-kit run (fetch updates) (#144)
  pcidss/doc-kit.conf
  pcidss/xml/common_license_gfdl1.2.xml
  pcidss/xml/generic-entities.ent
Labels: prj:PCI-DSS

Started the article
  system-uptime-tracking/xml/art_system-uptime-tracking.xml
Labels: none

qanda wip
  system-uptime-tracking/xml/art_system-uptime-tracking.xml
Labels: none

Draft finished
  system-uptime-tracking/xml/art_system-uptime-tracking.xml
Labels: none

Apply suggestions from code review
  system-uptime-tracking/xml/art_system-uptime-tracking.xml
Labels: none

Apply suggestions from code review
  system-uptime-tracking/xml/art_system-uptime-tracking.xml
Labels: none

Applied suggestion reviews
  system-uptime-tracking/xml/art_system-uptime-tracking.xml
Labels: none

added missing series string
  trento/xml/article_sap_trento.xml
Labels: none

minor update
  system-uptime-tracking/xml/art_system-uptime-tracking.xml
Labels: none

Updated the wget command
  system-uptime-tracking/xml/art_system-uptime-tracking.xml
Labels: none

System uptime tracking (#142)
  system-uptime-tracking/.editorconfig
  system-uptime-tracking/.gitignore
  system-uptime-tracking/DC-SLE-system-uptime-tracking
  system-uptime-tracking/doc-kit.conf
  system-uptime-tracking/xml/art_system-uptime-tracking.xml
  system-uptime-tracking/xml/generic-entities.ent
  system-uptime-tracking/xml/network-entities.ent
  system-uptime-tracking/xml/product-entities.ent
Labels: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Labels: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Labels: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Labels: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Labels: none

Trento version 2.3.1 new flag required for helm installation
  trento/xml/article_sap_trento.xml
Labels: none

Disable missing images for the time being
  trento/xml/article_sap_trento.xml
Labels: none

Manually integrate PR #133
  trento/images/src/png/trento-api-key-settings.png
  trento/xml/article_sap_trento.xml
Labels: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Labels: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Labels: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Labels: none

Summary of available software updates
  trento/xml/article_sap_trento.xml
Labels: none

Remove future promises
  trento/xml/article_sap_trento.xml
Labels: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Labels: none

Add files via upload
  trento/images/src/png/trento-summary-of-available-software-updates.png
Labels: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Labels: none

Update article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Labels: none

Add files via upload
  trento/images/src/png/trento-suse-manager-settings.png
Labels: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Labels: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Labels: none

.github/labeler.yml:

'prj:Container':
- 'container-guide/*'

'prj:HIPAA':
- 'hipaa/*'

'prj:hypervisor':
- 'scc-hypervisor-collector/*'

'prj:kubevirt':
- 'kubevirt/*'

'prj:openscap':
- 'openscap/*'

'prj:PCI-DSS':
- 'pcidss/*'

'prj:sap-ha-support':
- 'sap-ha-support/*'

'prj:stig':
- 'stig/*'

'prj:SUSEConnect':
- 'suseconnect-visibility/*'

'prj:trento':
- 'trento/*'
