Repository SUSE/doc-unversioned, changes with the labels that .github/labeler.yml gives for each.
All labels: prj:Container, prj:HIPAA, prj:hypervisor, prj:kubevirt, prj:openscap, prj:PCI-DSS, prj:sap-ha-support, prj:stig, prj:SUSEConnect, prj:trento

.github/labeler.yml:

'prj:Container':
- 'container-guide/*'

'prj:HIPAA':
- 'hipaa/*'

'prj:hypervisor':
- 'scc-hypervisor-collector/*'

'prj:kubevirt':
- 'kubevirt/*'

'prj:openscap':
- 'openscap/*'

'prj:PCI-DSS':
- 'pcidss/*'

'prj:sap-ha-support':
- 'sap-ha-support/*'

'prj:stig':
- 'stig/*'

'prj:SUSEConnect':
- 'suseconnect-visibility/*'

'prj:trento':
- 'trento/*'

Fix TRNT-3888
  trento/adoc/trento-container-install.adoc
  trento/adoc/trento-install-server.adoc
  trento/adoc/trento-systemd-install.adoc
Labels: none

Remove obsolete note
  trento/adoc/trento-container-install.adoc
Labels: none

Fix TRNT-3888 (#223)
  trento/adoc/trento-container-install.adoc
  trento/adoc/trento-install-server.adoc
  trento/adoc/trento-systemd-install.adoc
Labels: none

Fix bsc-1247555
  trento/adoc/trento-ansible-install.adoc
Labels: none

Fix bsc-1247646
  trento/adoc/trento-requirements.adoc
Labels: none

Fix compat. matrix, add hilights
  trento/adoc/trento-compatibility.adoc
  trento/adoc/trento-version-history.adoc
Labels: none

Trento 2.5 update (#221)
  trento/adoc/trento-activity-log.adoc
  trento/adoc/trento-compatibility.adoc
  trento/adoc/trento-install-agents.adoc
  trento/adoc/trento-intro.adoc
  trento/adoc/trento-version-history.adoc
  trento/migration/ansible-install.md
  trento/migration/container-install.md
  trento/migration/sso-integration.md
  trento/migration/systemd-install.md
Labels: none

Include checks customization
  trento/adoc/trento-checks-customization.adoc
  trento/adoc/trento-checks.adoc
Labels: none

Fix order
  trento/adoc/trento-checks.adoc
  trento/adoc/trento-guide.adoc
Labels: none

Fix validation
  trento/adoc/trento-checks-customization.adoc
Labels: none

1. SP7 versions for pci-dss zh-cn files, overwritting sp6 versions. 2. SP7 version of Container-guide.xml, overwriting the SP6 version.
  container-guide/l10n/zh-cn/xml/Container-guide.xml
  pcidss/l10n/zh-cn/xml/art_security_pcidss.xml
  pcidss/l10n/zh-cn/xml/common_copyright_quick.xml
Labels: none

Add automatic revdate
  trento/adoc/trento-guide-docinfo.xml
  trento/adoc/trento-guide.adoc
Labels: none

updated files post LSO
  container-guide/l10n/zh-cn/xml/Container-guide.xml
Labels: none

updated DTP edit in Container-guide.xml
  container-guide/l10n/zh-cn/xml/Container-guide.xml
Labels: none

Hiding zh-cn full-stop in certain varlistentry/term occurrences so that intermal xrefs to those terms do not appear with double punctuaion marks
  pcidss/l10n/zh-cn/xml/art_security_pcidss.xml
Labels: none

rm editurl PCIDSS and container zh-cn
  container-guide/l10n/zh-cn/xml/Container-guide.xml
  pcidss/l10n/zh-cn/xml/art_security_pcidss.xml
Labels: none

updated DTP edit in Container-guide.xml
  container-guide/l10n/zh-cn/xml/Container-guide.xml
Labels: none

updated files post LSO
  container-guide/l10n/zh-cn/xml/Container-guide.xml
Labels: none

Hiding zh-cn full-stop in certain varlistentry/term occurrences so that intermal xrefs to those terms do not appear with double punctuaion marks
  pcidss/l10n/zh-cn/xml/art_security_pcidss.xml
Labels: none

rm editurl PCIDSS and container zh-cn
  container-guide/l10n/zh-cn/xml/Container-guide.xml
  pcidss/l10n/zh-cn/xml/art_security_pcidss.xml
Labels: none

1. SP7 versions for pci-dss zh-cn files, overwritting sp6 versions. 2. SP7 version of Container-guide.xml, overwriting the SP6 version.
  container-guide/l10n/zh-cn/xml/Container-guide.xml
  pcidss/l10n/zh-cn/xml/art_security_pcidss.xml
  pcidss/l10n/zh-cn/xml/common_copyright_quick.xml
Labels: none

Remove ShellSession
  container-guide/concepts/containers-orchestration.xml
  container-guide/concepts/containers-verify.xml
  container-guide/l10n/zh-cn/xml/Container-guide.xml
Labels: none

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

Fix PED-12535
  container-guide/concepts/containers-build-images.xml
Labels: none

Known issue with blkid
  container-guide/concepts/containers-build-images.xml
Labels: none

Disable XSLTPARAM in DC file
  container-guide/l10n/zh-cn/DC-Container-guide
Labels: none

Disable XSLTPARAM in DC file otherwise build fails
  container-guide/DC-Container-guide
Labels: prj:Container

Fix PED-12535 (#227)
  container-guide/concepts/containers-build-images.xml
Labels: none

Known issue with blkid (#228)
  container-guide/concepts/containers-build-images.xml
Labels: none

Fix validation
  container-guide/concepts/containers-build-images.xml
Labels: none

Uptime tracking: added for more information links
  system-uptime-tracking/xml/art_system-uptime-tracking.xml
Labels: none

added a new revision
  system-uptime-tracking/xml/art_system-uptime-tracking.xml
Labels: none

Uptime tracking: added for more information links (#229)
  system-uptime-tracking/xml/art_system-uptime-tracking.xml
Labels: none

DOCTEAM-2018-OpenSCAP Docs Updates for SLES and SLEM
  openscap/DC-SLEM-openscap
Labels: prj:openscap

DOCTEAM-2018 OpenSCAP docs revision
  openscap/xml/article_openscap.xml
Labels: none

changed orderedlist to itemizedlist
  openscap/xml/article_openscap.xml
Labels: none

Removed scap-workbench-doc package as it's not found in SLE 15 SP7 repos, and it's quite useless
  openscap/xml/article_openscap.xml
Labels: none

Added note regarding availability of the GUI software scap-workbench only on desktop installation
  openscap/xml/article_openscap.xml
Labels: none

content on profiles, rules
  openscap/xml/article_openscap.xml
Labels: none

formatting
  openscap/xml/article_openscap.xml
Labels: none
