Repository SUSE/doc-unversioned, changes with the labels that .github/labeler.yml gives for each.
All labels: prj:Container, prj:HIPAA, prj:hypervisor, prj:kubevirt, prj:openscap, prj:PCI-DSS, prj:sap-ha-support, prj:stig, prj:SUSEConnect, prj:trento

doc-kit run: fetch updates
  openscap/doc-kit.conf
  openscap/xml/generic-entities.ent
Labels: prj:openscap

doc-kit run: fetch updates
  pcidss/doc-kit.conf
  pcidss/xml/common_license_gfdl1.2.xml
  pcidss/xml/generic-entities.ent
Labels: prj:PCI-DSS

doc-kit run: fetch updates
  sap-ha-support/doc-kit.conf
  sap-ha-support/xml/common_copyright_gfdl.xml
  sap-ha-support/xml/common_license_gfdl1.2.xml
  sap-ha-support/xml/generic-entities.ent
Labels: prj:sap-ha-support

doc-kit run: fetch updates
  scc-hypervisor-collector/doc-kit.conf
  scc-hypervisor-collector/xml/common_intro_available_doc.xml
  scc-hypervisor-collector/xml/common_intro_convention.xml
  scc-hypervisor-collector/xml/common_intro_feedback.xml
  scc-hypervisor-collector/xml/generic-entities.ent
Labels: prj:hypervisor

doc-kit run: fetch updates
  stig/doc-kit.conf
  stig/xml/common_license_gfdl1.2.xml
  stig/xml/generic-entities.ent
Labels: prj:stig

doc-kit run: fetch updates
  suseconnect-visibility/doc-kit.conf
  suseconnect-visibility/xml/generic-entities.ent
Labels: prj:SUSEConnect

doc-kit run: fetch updates
  trento/doc-kit.conf
  trento/xml/generic-entities.ent
Labels: prj:trento

daps linkcheck
  container-guide/concepts/containers-orchestration.xml
Labels: none

links: http -> https
  container-guide/concepts/containers-build-app-images.xml
  container-guide/concepts/containers-docker.xml
  container-guide/concepts/containers-orchestration.xml
  container-guide/concepts/containers-terms.xml
  container-guide/concepts/containers-tools.xml
Labels: none

doc-kit run (fetch updates)
  openscap/doc-kit.conf
  openscap/xml/generic-entities.ent
Labels: prj:openscap

links: http -> https
  openscap/xml/common_copyright_quick.xml
  openscap/xml/common_license_gfdl1.2.xml
Labels: none

links: http -> https
  stig/xml/common_copyright_quick.xml
Labels: none

Fix broken links in SAP HA guide
  sap-ha-support/xml/art-sap-ha-support.xml
Labels: none

revert https for localhost
  container-guide/concepts/containers-build-app-images.xml
Labels: none

Container Guide: fix links (#116)
  container-guide/concepts/containers-docker.xml
  container-guide/concepts/containers-orchestration.xml
  container-guide/concepts/containers-terms.xml
  container-guide/concepts/containers-tools.xml
Labels: none

Fix language
  container-guide/concepts/containers-orchestration.xml
Labels: none

Rename CPUs => vCPUs
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Labels: none

Before new content: Rebase with main, Vale fixes, XML formatting
  openscap/xml/article_openscap.xml
  stig/xml/article_stig.xml
Labels: none

Before new content: Rebase with main, Vale fixes, XML formatting (#120)
  openscap/xml/article_openscap.xml
  stig/xml/article_stig.xml
Labels: none

Rename gfdl.xml
  licenses/xml/gfdl_1.2.xml
Labels: none

Put the acronym at the end (title)
  licenses/xml/gfdl_1.2.xml
Labels: none

Add GFDL license product
  licenses/DC-gfdl
  licenses/xml/gfdl.xml
Labels: none

Add new XML file as MAIN
  licenses/DC-gfdl
Labels: none

Add GFDL license product (#117)
  licenses/DC-gfdl
  licenses/xml/gfdl_1.2.xml
Labels: none

Update list of projects
  README.adoc
Labels: none

Add a new doc link for SusTkOver.py
  sap-ha-support/xml/art-sap-ha-support.xml
Labels: none

Update article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Labels: none

DOCTEAM-1171-Add-process-to-customize-tailor-STIG
  openscap/images/src/png/openscap-ssg-static-html-sle12.png
  openscap/images/src/png/openscap-ssg-static-html-sle15.png
  openscap/images/src/png/scap-workbench.png
  openscap/xml/article_openscap.xml
  stig/images/src/png/scap-workbench-profile-disa-stig.png
  stig/images/src/png/scap-workbench-profile-stig-customize.png
  stig/images/src/png/scap-workbench-select-content-to-load.png
  stig/images/src/png/scap-workbench-select-rule.png
  stig/images/src/png/scap-workbench-tailor-file-save.png
  stig/xml/article_stig.xml
Labels: none

DOCTEAM-1171-Add-process-to-customize-tailor-STIG (#121)
  openscap/images/src/png/openscap-ssg-static-html-sle12.png
  openscap/images/src/png/openscap-ssg-static-html-sle15.png
  openscap/images/src/png/scap-workbench.png
  openscap/xml/article_openscap.xml
  stig/images/src/png/scap-workbench-profile-disa-stig.png
  stig/images/src/png/scap-workbench-profile-stig-customize.png
  stig/images/src/png/scap-workbench-select-content-to-load.png
  stig/images/src/png/scap-workbench-select-rule.png
  stig/images/src/png/scap-workbench-tailor-file-save.png
  stig/xml/article_stig.xml
Labels: none

Add note and title
  trento/xml/article_sap_trento.xml
Labels: none

Update article_sap_trento.xml (#123)
  trento/xml/article_sap_trento.xml
Labels: none

Add links for most HADR scripts
  sap-ha-support/xml/art-sap-ha-support.xml
Labels: none

Add doc links for HADR provider hook scripts (#122)
  sap-ha-support/xml/art-sap-ha-support.xml
Labels: none

added syntax highlighting for xml snippet
  stig/xml/article_stig.xml
Labels: none

added syntax highlighting for xml snippet (#124)
  stig/xml/article_stig.xml
Labels: none

Update support stmt
  container-guide/concepts/containers-support.xml
Labels: none

commit for content backup
  openscap/xml/article_openscap.xml
  stig/xml/article_stig.xml
Labels: none

structure for upcoming content
  openscap/xml/article_openscap.xml
Labels: none

full draft
  openscap/xml/article_openscap.xml
Labels: none

Editorial changes
  openscap/xml/article_openscap.xml
  stig/xml/article_stig.xml
Labels: none

.github/labeler.yml:

'prj:Container':
- 'container-guide/*'

'prj:HIPAA':
- 'hipaa/*'

'prj:hypervisor':
- 'scc-hypervisor-collector/*'

'prj:kubevirt':
- 'kubevirt/*'

'prj:openscap':
- 'openscap/*'

'prj:PCI-DSS':
- 'pcidss/*'

'prj:sap-ha-support':
- 'sap-ha-support/*'

'prj:stig':
- 'stig/*'

'prj:SUSEConnect':
- 'suseconnect-visibility/*'

'prj:trento':
- 'trento/*'
