Repository SUSE/doc-unversioned, changes with the labels that .github/labeler.yml gives for each.
All labels: prj:Container, prj:HIPAA, prj:hypervisor, prj:kubevirt, prj:openscap, prj:PCI-DSS, prj:sap-ha-support, prj:stig, prj:SUSEConnect, prj:trento

.github/labeler.yml:

'prj:Container':
- 'container-guide/*'

'prj:HIPAA':
- 'hipaa/*'

'prj:hypervisor':
- 'scc-hypervisor-collector/*'

'prj:kubevirt':
- 'kubevirt/*'

'prj:openscap':
- 'openscap/*'

'prj:PCI-DSS':
- 'pcidss/*'

'prj:sap-ha-support':
- 'sap-ha-support/*'

'prj:stig':
- 'stig/*'

'prj:SUSEConnect':
- 'suseconnect-visibility/*'

'prj:trento':
- 'trento/*'

Add entity, correct spelling
  trento/xml/article_sap_trento.xml
Labels: none

Trento support plugin options (#105)
  trento/xml/article_sap_trento.xml
Labels: none

Fix bsc-1216616
  container-guide/articles/Container-guide.asm.xml
  container-guide/concepts/containers-podman.xml
Labels: none

Removed KubeVirt see https://github.com/SUSE/doc-sle/pull/1611
  kubevirt/.editorconfig
  kubevirt/.gitignore
  kubevirt/DC-SLE-kubevirt
  kubevirt/doc-kit.conf
  kubevirt/images/src/svg/suse.svg
  kubevirt/xml/art-kubevirt.xml
  kubevirt/xml/generic-entities.ent
  kubevirt/xml/network-entities.ent
  kubevirt/xml/product-entities.ent
Labels: prj:kubevirt

doc-kit run (fetch updates)
  kubevirt/.gitignore
  kubevirt/doc-kit.conf
  kubevirt/xml/generic-entities.ent
Labels: prj:kubevirt

doc-kit run (fetch updates)
  openscap/.gitignore
  openscap/doc-kit.conf
  openscap/xml/generic-entities.ent
Labels: prj:openscap

doc-kit run (fetch updates)
  pcidss/.gitignore
  pcidss/doc-kit.conf
  pcidss/xml/generic-entities.ent
Labels: prj:PCI-DSS

doc-kit run (fetch updates)
  sap-ha-support/.gitignore
  sap-ha-support/doc-kit.conf
  sap-ha-support/xml/generic-entities.ent
Labels: prj:sap-ha-support

doc-kit run (fetch updates)
  scc-hypervisor-collector/.gitignore
  scc-hypervisor-collector/doc-kit.conf
  scc-hypervisor-collector/xml/generic-entities.ent
Labels: prj:hypervisor

doc-kit run (fetch updates)
  stig/.gitignore
  stig/doc-kit.conf
  stig/xml/generic-entities.ent
Labels: prj:stig

doc-kit run (fetch updates)
  suseconnect-visibility/.gitignore
  suseconnect-visibility/doc-kit.conf
  suseconnect-visibility/xml/generic-entities.ent
Labels: prj:SUSEConnect

doc-kit run (fetch updates)
  trento/.gitignore
  trento/doc-kit.conf
  trento/xml/generic-entities.ent
Labels: prj:trento

Add LTSS container images
  container-guide/concepts/containers-ltss-images.xml
  container-guide/concepts/containers-podman.xml
Labels: none

Minor edits
  container-guide/concepts/containers-ltss-images.xml
Labels: none

Minor edits
  container-guide/concepts/containers-ltss-images.xml
Labels: none

title: use entity with correct spelling (#101)
  container-guide/articles/Container-guide.asm.xml
Labels: none

doc-kit run (fetch updates)
  kubevirt/.gitignore
  kubevirt/doc-kit.conf
  kubevirt/xml/generic-entities.ent
Labels: prj:kubevirt

doc-kit run (fetch updates)
  suseconnect-visibility/.gitignore
  suseconnect-visibility/doc-kit.conf
  suseconnect-visibility/xml/generic-entities.ent
Labels: prj:SUSEConnect

doc-kit run (fetch updates)
  sap-ha-support/.gitignore
  sap-ha-support/doc-kit.conf
  sap-ha-support/xml/generic-entities.ent
Labels: prj:sap-ha-support

doc-kit run (fetch updates)
  openscap/.gitignore
  openscap/doc-kit.conf
  openscap/xml/generic-entities.ent
Labels: prj:openscap

doc-kit run (fetch updates)
  trento/.gitignore
  trento/doc-kit.conf
  trento/xml/generic-entities.ent
Labels: prj:trento

doc-kit run (fetch updates)
  pcidss/.gitignore
  pcidss/doc-kit.conf
  pcidss/xml/generic-entities.ent
Labels: prj:PCI-DSS

doc-kit run (fetch updates)
  stig/.gitignore
  stig/doc-kit.conf
  stig/xml/generic-entities.ent
Labels: prj:stig

doc-kit run (fetch updates)
  scc-hypervisor-collector/.gitignore
  scc-hypervisor-collector/doc-kit.conf
  scc-hypervisor-collector/xml/generic-entities.ent
Labels: prj:hypervisor

Removed KubeVirt doc (bsc#1209579) (#106)
  kubevirt/.editorconfig
  kubevirt/DC-SLE-kubevirt
  kubevirt/images/src/svg/suse.svg
  kubevirt/xml/art-kubevirt.xml
  kubevirt/xml/network-entities.ent
  kubevirt/xml/product-entities.ent
Labels: prj:kubevirt

completed kubevirt removal
  kubevirt/.gitignore
  kubevirt/doc-kit.conf
  kubevirt/xml/generic-entities.ent
Labels: prj:kubevirt

doc-kit update
  suseconnect-visibility/doc-kit.conf
  suseconnect-visibility/xml/generic-entities.ent
Labels: prj:SUSEConnect

doc-kit update
  scc-hypervisor-collector/doc-kit.conf
  scc-hypervisor-collector/xml/common_intro_available_doc.xml
  scc-hypervisor-collector/xml/common_intro_convention.xml
  scc-hypervisor-collector/xml/common_intro_feedback.xml
  scc-hypervisor-collector/xml/common_intro_support.xml
  scc-hypervisor-collector/xml/generic-entities.ent
Labels: prj:hypervisor

Update SLE HA product name in graphics
  sap-ha-support/images/src/svg/ensa1.svg
  sap-ha-support/images/src/svg/ensa2.svg
Labels: none

Apply suggestions from code review
  container-guide/concepts/containers-ltss-images.xml
  container-guide/concepts/containers-podman.xml
Labels: none

Update SLE HA product name in graphics (#108)
  sap-ha-support/images/src/svg/ensa1.svg
  sap-ha-support/images/src/svg/ensa2.svg
Labels: none

LTSS BCI (#107)
  container-guide/concepts/containers-ltss-images.xml
  container-guide/concepts/containers-podman.xml
Labels: none

Apply dock-kit
  container-guide/.editorconfig
  container-guide/.gitignore
  container-guide/doc-kit.conf
  container-guide/xml/generic-entities.ent
  container-guide/xml/network-entities.ent
  container-guide/xml/product-entities.ent
Labels: prj:Container

Apply doc-kit
  container-guide/.editorconfig
  container-guide/.gitignore
  container-guide/DC-Container-guide
  container-guide/_DC-article
  container-guide/common/generic-entities.ent
  container-guide/common/legal.xml
  container-guide/common/license_gfdl1.2.xml
  container-guide/common/product-entities.ent
  container-guide/concepts/concept.xml
  container-guide/doc-kit.conf
  container-guide/glues/glue-more-info.xml
  container-guide/glues/glue-whats-next.xml
  container-guide/glues/glue.xml
  container-guide/images/example.png
  container-guide/references/reference.xml
  container-guide/snippets/snippet_warning.xml
  container-guide/tasks/task.xml
  container-guide/templates/_DC-article
  container-guide/templates/article/assembly.asm.xml
  container-guide/templates/concepts/concept.xml
  container-guide/templates/glues/glue-more-info.xml
  container-guide/templates/glues/glue-whats-next.xml
  container-guide/templates/glues/glue.xml
  container-guide/templates/images/example.png
  container-guide/templates/references/reference.xml
  container-guide/templates/snippets/snippet_warning.xml
  container-guide/templates/tasks/task.xml
Labels: prj:Container

Update doc-kit
  container-guide/_DC-article
  container-guide/common/generic-entities.ent
  container-guide/concepts/concept.xml
  container-guide/doc-kit.conf
  container-guide/glues/glue-more-info.xml
  container-guide/glues/glue-whats-next.xml
  container-guide/glues/glue.xml
  container-guide/images/example.png
  container-guide/references/reference.xml
  container-guide/snippets/snippet_warning.xml
  container-guide/tasks/task.xml
  container-guide/templates/articles/assembly.asm.xml
Labels: prj:Container

Minor fixes
  container-guide/concepts/containers-tools.xml
Labels: none

Fix KIWI NG
  container-guide/concepts/containers-tools.xml
Labels: none

Apply doc-kit (#110)
  container-guide/.editorconfig
  container-guide/.gitignore
  container-guide/DC-Container-guide
  container-guide/common/generic-entities.ent
  container-guide/common/legal.xml
  container-guide/common/license_gfdl1.2.xml
  container-guide/common/product-entities.ent
  container-guide/concepts/containers-tools.xml
  container-guide/doc-kit.conf
  container-guide/templates/_DC-article
  container-guide/templates/article/assembly.asm.xml
  container-guide/templates/articles/assembly.asm.xml
  container-guide/templates/concepts/concept.xml
  container-guide/templates/glues/glue-more-info.xml
  container-guide/templates/glues/glue-whats-next.xml
  container-guide/templates/glues/glue.xml
  container-guide/templates/images/example.png
  container-guide/templates/references/reference.xml
  container-guide/templates/snippets/snippet_warning.xml
  container-guide/templates/tasks/task.xml
Labels: prj:Container

Add BCI PHP
  container-guide/concepts/containers-bci-language.xml
Labels: none

Network issue note
  container-guide/concepts/containers-podman.xml
Labels: none
