Repository SUSE/doc-unversioned, changes with the labels that .github/labeler.yml gives for each.
All labels: prj:Container, prj:HIPAA, prj:hypervisor, prj:kubevirt, prj:openscap, prj:PCI-DSS, prj:sap-ha-support, prj:stig, prj:SUSEConnect, prj:trento

.github/labeler.yml:

'prj:Container':
- 'container-guide/*'

'prj:HIPAA':
- 'hipaa/*'

'prj:hypervisor':
- 'scc-hypervisor-collector/*'

'prj:kubevirt':
- 'kubevirt/*'

'prj:openscap':
- 'openscap/*'

'prj:PCI-DSS':
- 'pcidss/*'

'prj:sap-ha-support':
- 'sap-ha-support/*'

'prj:stig':
- 'stig/*'

'prj:SUSEConnect':
- 'suseconnect-visibility/*'

'prj:trento':
- 'trento/*'

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Labels: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Labels: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Labels: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Labels: none

Update article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Labels: none

Update article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Labels: none

Update article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Labels: none

Update article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Labels: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Labels: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Labels: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Labels: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Labels: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Labels: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Labels: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Labels: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Labels: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Labels: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Labels: none

Update article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Labels: none

Update article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Labels: none

Delete trento/images/src/png/trento-web-pacemaker-cluster-details-view.png
  trento/images/src/png/trento-web-pacemaker-cluster-details-view.png
Labels: none

Delete trento/images/src/png/trento-web-nonmetexpectation.png
  trento/images/src/png/trento-web-nonmetexpectation.png
Labels: none

Add files via upload
  trento/images/src/png/trento-web-nonmetexpectation.png
  trento/images/src/png/trento-web-pacemaker-cluster-details-view.png
Labels: none

Remove future promises
  trento/xml/article_sap_trento.xml
Labels: none

Add rephrased paragraph
  trento/xml/article_sap_trento.xml
Labels: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Labels: none

XMLformat
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Labels: none

Style check
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Labels: none

fixed format of table
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Labels: none

Completed common data table
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Labels: none

Docker Hub add
  container-guide/concepts/containers-podman.xml
Labels: none

Docker Hub add (#139)
  container-guide/concepts/containers-podman.xml
Labels: none

Update to standardized descriptions.
  trento/xml/article_sap_trento.xml
Labels: none

Update to standardized descriptions.
  sap-ha-support/xml/art-sap-ha-support.xml
Labels: none

added example of product description
  suseconnect-visibility/doc-kit.conf
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
  suseconnect-visibility/xml/generic-entities.ent
Labels: prj:SUSEConnect

added example of hypervisor JSON
  scc-hypervisor-collector/doc-kit.conf
  scc-hypervisor-collector/xml/art-scc-hypervisor-collector.xml
  scc-hypervisor-collector/xml/common_intro_available_doc.xml
  scc-hypervisor-collector/xml/common_intro_convention.xml
  scc-hypervisor-collector/xml/common_intro_support.xml
  scc-hypervisor-collector/xml/generic-entities.ent
Labels: prj:hypervisor

XML format
  scc-hypervisor-collector/xml/art-scc-hypervisor-collector.xml
Labels: none

Apply suggestions from code review
  scc-hypervisor-collector/xml/art-scc-hypervisor-collector.xml
Labels: none

Update scc-hypervisor-collector/xml/art-scc-hypervisor-collector.xml
  scc-hypervisor-collector/xml/art-scc-hypervisor-collector.xml
Labels: none

Update outdated project link
  trento/xml/article_sap_trento.xml
Labels: none
