Repository SUSE/doc-unversioned, changes with the labels that .github/labeler.yml gives for each.
All labels: prj:Container, prj:HIPAA, prj:hypervisor, prj:kubevirt, prj:openscap, prj:PCI-DSS, prj:sap-ha-support, prj:stig, prj:SUSEConnect, prj:trento

Fix for DOCTEAM-2045
  openscap/xml/article_openscap.xml
Labels: none

changed oscap prompts from sudo to user
  openscap/xml/article_openscap.xml
Labels: none

remaining content
  openscap/xml/article_openscap.xml
Labels: none

removed slem DC file, added profiles for slem and image, and minor additions
  openscap/DC-SLEM-openscap
  openscap/images/src/png/scap-workbench-ssg-slem5-profiles.png
  openscap/xml/article_openscap.xml
Labels: prj:openscap

Removed openscap from packages to be installed, as it is installed as a dependency of openscap-utils
  openscap/xml/article_openscap.xml
Labels: none

DOCTEAM-2018 OpenSCAP Docs Updates for SLES and SLEM (#230)
  openscap/images/src/png/scap-workbench-ssg-slem5-profiles.png
  openscap/xml/article_openscap.xml
Labels: none

Add pci profile collection information. Update README to recommend daps2docker
  README.adoc
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Labels: none

Add pci profile collection information. Update README to recommend daps2docker
  README.adoc
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Labels: none

Added revision infor, shortened PCI IDs
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Labels: none

initial/surface-level profiling
  openscap/DC-SLEM-openscap
  openscap/xml/article_openscap.xml
Labels: prj:openscap

Profiling for Micro.
  openscap/xml/article_openscap.xml
Labels: none

Remove workflow file due to security issues
  .github/workflows/labeler.yml
Labels: none

Profiling for Micro 6
  openscap/xml/article_openscap.xml
Labels: none

Review comments from Jana and other minor changes
  openscap/xml/article_openscap.xml
Labels: none

Some more obvious sles profiling
  openscap/xml/article_openscap.xml
Labels: none

Fix profiling issues
  openscap/xml/article_openscap.xml
Labels: none

Update GitHub Actions
  .github/workflows/docbook.yml
Labels: none

Add vendor to suseconnect collection info
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Labels: none

Fixed BSC#1252132.
  container-guide/concepts/containers-verify.xml
Labels: none

Update suseconnect-visibility/xml/art_suseconnect_visibility.xml
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Labels: none

Update suseconnect-visibility/xml/art_suseconnect_visibility.xml
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Labels: none

Apply suggestions from code review
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Labels: none

Add vendor to SUSEConnect collection info (#234)
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Labels: none

Replaced &sle; and &sles; with &productname;, and &slea; with &productnameshort;
  openscap/xml/article_openscap.xml
Labels: none

initial/surface-level profiling
  openscap/DC-SLEM-openscap
  openscap/xml/article_openscap.xml
Labels: prj:openscap

Review comments from Jana and other minor changes
  openscap/xml/article_openscap.xml
Labels: none

Some more obvious sles profiling
  openscap/xml/article_openscap.xml
Labels: none

Profiling for Micro. (#233)
  openscap/xml/article_openscap.xml
Labels: none

Removed openscap from list of packages to be installed, as it is now installed as a dependency of the openscap-utils package
  openscap/xml/article_openscap.xml
Labels: none

Completed profiling for Micro 6.
  openscap/DC-SLEM-5-openscap
  openscap/DC-SLEM-6-openscap
  openscap/xml/article_openscap.xml
  openscap/xml/product-entities.ent
Labels: prj:openscap

Fixed broken links
  scc-hypervisor-collector/xml/art-scc-hypervisor-collector.xml
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Labels: none

Apply SME-suggested changes for SLES, SLEM 5, and SLEM 6 OpenSCAP articles
  openscap/images/src/png/openscap-ssg-static-html-sle16.png
  openscap/xml/article_openscap.xml
  openscap/xml/product-entities.ent
Labels: none

Changed images of supported profiles based on latest GitHub URLs instead of old OpenSCAP website URLs, and added note of clarification
  openscap/images/src/png/openscap-ssg-static-html-sle12.png
  openscap/images/src/png/openscap-ssg-static-html-sle15.png
  openscap/images/src/png/openscap-ssg-static-html-sle16.png
  openscap/xml/article_openscap.xml
Labels: none

DOCTEAM-2108 Profiling OpenSCAP docs for SLES and SLEM (#232)
  openscap/DC-SLEM-5-openscap
  openscap/DC-SLEM-6-openscap
  openscap/images/src/png/openscap-ssg-static-html-sle12.png
  openscap/images/src/png/openscap-ssg-static-html-sle15.png
  openscap/images/src/png/openscap-ssg-static-html-sle16.png
  openscap/xml/article_openscap.xml
  openscap/xml/product-entities.ent
Labels: prj:openscap

Updated several headings and an abstract for GEO
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Labels: none

reemoved a double period
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Labels: none

applied review suggestion + minor improvement
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Labels: none

System visibility: updated headings and abstract for GEO (#235)
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Labels: none

Disabled revhistory generation
  container-guide/DC-Container-guide
  container-guide/l10n/zh-cn/DC-Container-guide
  licenses/DC-gfdl
  openscap/DC-SLES-openscap
  pcidss/DC-SLES-pci-dss
  pcidss/l10n/zh-cn/DC-SLES-pci-dss
  sap-ha-support/DC-sap-ha-support
  scc-hypervisor-collector/DC-SLE-scc-hypervisor-collector
  stig/DC-SLES-stig
  suseconnect-visibility/DC-SLE-suseconnect-visibility
  system-uptime-tracking/DC-SLE-system-uptime-tracking
Labels: prj:Container, prj:hypervisor, prj:openscap, prj:PCI-DSS, prj:sap-ha-support, prj:stig, prj:SUSEConnect

Add Kubernetes Provider entry to suseconnect visibility
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Labels: none

.github/labeler.yml:

'prj:Container':
- 'container-guide/*'

'prj:HIPAA':
- 'hipaa/*'

'prj:hypervisor':
- 'scc-hypervisor-collector/*'

'prj:kubevirt':
- 'kubevirt/*'

'prj:openscap':
- 'openscap/*'

'prj:PCI-DSS':
- 'pcidss/*'

'prj:sap-ha-support':
- 'sap-ha-support/*'

'prj:stig':
- 'stig/*'

'prj:SUSEConnect':
- 'suseconnect-visibility/*'

'prj:trento':
- 'trento/*'
