Repository SUSE/doc-unversioned, changes with the labels that .github/labeler.yml gives for each.
All labels: prj:Container, prj:HIPAA, prj:hypervisor, prj:kubevirt, prj:openscap, prj:PCI-DSS, prj:sap-ha-support, prj:stig, prj:SUSEConnect, prj:trento

Fix image link
  container-guide/concepts/containers-orchestration.xml
Labels: none

Remove image-type label
  container-guide/concepts/containers-bci-labels.xml
Labels: none

Correct structure & disable section
  trento/xml/article_sap_trento.xml
Labels: none

Correct structure & disable section (#149)
  trento/xml/article_sap_trento.xml
Labels: none

Container Guide: integrate proofing corrections (#148)
  container-guide/concepts/containers-bci-intro.xml
  container-guide/concepts/containers-bci-understand.xml
  container-guide/concepts/containers-build-app-images.xml
  container-guide/concepts/containers-build-images.xml
  container-guide/concepts/containers-docker-registry.xml
  container-guide/concepts/containers-docker.xml
  container-guide/concepts/containers-intro.xml
  container-guide/concepts/containers-orchestration.xml
  container-guide/concepts/containers-podman.xml
  container-guide/concepts/containers-repo-reg.xml
  container-guide/concepts/containers-support.xml
  container-guide/concepts/containers-tools.xml
Labels: none

Replace SVGs w/PNGs
  container-guide/concepts/containers-intro.xml
  container-guide/concepts/containers-orchestration.xml
  container-guide/images/src/png/container-image-layers.png
  container-guide/images/src/png/container-workflow.png
  container-guide/images/src/png/docker_architecture.png
  container-guide/images/src/png/pods_architecture.png
Labels: none

Enrich existing helm cmd
  trento/xml/article_sap_trento.xml
Labels: none

Enrich existing helm cmd (#150)
  trento/xml/article_sap_trento.xml
Labels: none

Update GitHub Actions
  .github/workflows/docbook.yml
Labels: none

Add bash convert helper
  trento/migration/convert_migration_to_docbook.sh
Labels: none

Add migrated xml
  trento/migration/ansible-install.xml
  trento/migration/container-install.xml
  trento/migration/systemd-install.xml
Labels: none

Add migration markdown
  trento/migration/ansible-install.md
  trento/migration/container-install.md
  trento/migration/systemd-install.md
Labels: none

Include new XML files
  trento/xml/ansible-install.xml
  trento/xml/article_sap_trento.xml
  trento/xml/container-install.xml
  trento/xml/systemd-install.xml
Labels: none

Fix typo in markdown and remove reference
  trento/migration/systemd-install.md
Labels: none

Remove helper script
  trento/migration/convert_migration_to_docbook.sh
Labels: none

Fixes and tweaks
  trento/xml/container-install.xml
  trento/xml/systemd-install.xml
Labels: none

First proofread
  trento/xml/ansible-install.xml
  trento/xml/container-install.xml
  trento/xml/systemd-install.xml
Labels: none

Pretty formatting
  trento/xml/ansible-install.xml
  trento/xml/container-install.xml
  trento/xml/systemd-install.xml
Labels: none

Trento manual installation documentation migration (#151)
  trento/migration/ansible-install.md
  trento/migration/container-install.md
  trento/migration/systemd-install.md
  trento/xml/ansible-install.xml
  trento/xml/article_sap_trento.xml
  trento/xml/container-install.xml
  trento/xml/systemd-install.xml
Labels: none

basic style guide and XML formatting changes
  pcidss/xml/art_security_pcidss.xml
Labels: none

remove officially/official
  container-guide/concepts/containers-bci-intro.xml
  container-guide/concepts/containers-bci-lifecycle.xml
  container-guide/concepts/containers-tools.xml
Labels: none

Update hardware information gathered by SUSEConnect
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Labels: none

Removing duplicated images and getting rid of image subdirectories
  container-guide/DC-Container-guide
  container-guide/concepts/containers-intro.xml
  container-guide/concepts/containers-orchestration.xml
  container-guide/images/container-image-layers.svg
  container-guide/images/container-workflow.svg
  container-guide/images/docker_architecture.svg
  container-guide/images/pods_architecture.svg
  container-guide/images/src/png/container-image-layers.png
  container-guide/images/src/png/container-workflow.png
  container-guide/images/src/png/docker_architecture.png
  container-guide/images/src/png/pods_architecture.png
Labels: prj:Container

Fix bsc-1204375
  container-guide/concepts/containers-bci-general.xml
Labels: none

Changes to the server update procedure
  trento/xml/article_sap_trento.xml
Labels: none

Update article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Labels: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Labels: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Labels: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Labels: none

Update trento/xml/article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Labels: none

Changes to the server update procedure (#156)
  trento/xml/article_sap_trento.xml
Labels: none

Add DOCBOOK5_RNG_URI for STIG
  stig/DC-SLES-stig
Labels: prj:stig

Release of version 2.3.2
  trento/xml/article_sap_trento.xml
Labels: none

Update article_sap_trento.xml
  trento/xml/article_sap_trento.xml
Labels: none

Fix syntax error in table
  trento/xml/article_sap_trento.xml
Labels: none

Release of version 2.3.2 (#157)
  trento/xml/article_sap_trento.xml
Labels: none

OpenSCAP: add metadata
  openscap/xml/article_openscap.xml
Labels: none

STIG: add metadata
  stig/xml/article_stig.xml
Labels: none

OpenSCAP: correct revhistory
  openscap/xml/article_openscap.xml
Labels: none

PCI DSS: add metadata
  pcidss/xml/art_security_pcidss.xml
Labels: none

.github/labeler.yml:

'prj:Container':
- 'container-guide/*'

'prj:HIPAA':
- 'hipaa/*'

'prj:hypervisor':
- 'scc-hypervisor-collector/*'

'prj:kubevirt':
- 'kubevirt/*'

'prj:openscap':
- 'openscap/*'

'prj:PCI-DSS':
- 'pcidss/*'

'prj:sap-ha-support':
- 'sap-ha-support/*'

'prj:stig':
- 'stig/*'

'prj:SUSEConnect':
- 'suseconnect-visibility/*'

'prj:trento':
- 'trento/*'
