Repository SUSE/doc-unversioned, changes with the labels that .github/labeler.yml gives for each.
All labels: prj:Container, prj:HIPAA, prj:hypervisor, prj:kubevirt, prj:openscap, prj:PCI-DSS, prj:sap-ha-support, prj:stig, prj:SUSEConnect, prj:trento

.github/labeler.yml:

'prj:Container':
- 'container-guide/*'

'prj:HIPAA':
- 'hipaa/*'

'prj:hypervisor':
- 'scc-hypervisor-collector/*'

'prj:kubevirt':
- 'kubevirt/*'

'prj:openscap':
- 'openscap/*'

'prj:PCI-DSS':
- 'pcidss/*'

'prj:sap-ha-support':
- 'sap-ha-support/*'

'prj:stig':
- 'stig/*'

'prj:SUSEConnect':
- 'suseconnect-visibility/*'

'prj:trento':
- 'trento/*'

Add Kubernetes Provider entry to suseconnect visibility (#238)
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Labels: none

semi-reverting style updates
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Labels: none

Semi-reverting style updates (#239)
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Labels: none

Adds Opt In/Out revision entry
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Labels: none

Add vendor to SUSEConnect collection info
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Labels: none

Apply suggestions from code review
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Labels: none

Add ha_active to SUSEConnect collection info (#237)
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Labels: none

validation fix
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Labels: none

Adds Opt In/Out revision entry
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Labels: none

container-guide: update version references SP3/4/5 → SP6/SP7
  container-guide/concepts/containers-bci-get-started.xml
  container-guide/concepts/containers-bci-intro.xml
  container-guide/concepts/containers-bci-labels.xml
  container-guide/concepts/containers-bci-tags.xml
  container-guide/concepts/containers-bci-understand.xml
  container-guide/concepts/containers-tools.xml
Labels: none

container-guide: rebrand SLE BCI → SUSE Linux BCI
  container-guide/common/product-entities.ent
Labels: none

container-guide: expand BCI hierarchy and fix support status claim
  container-guide/concepts/containers-bci-general.xml
  container-guide/concepts/containers-bci-lifecycle.xml
Labels: none

container-guide: drop Notary v1, fix key URL typo, flag latest tag move
  container-guide/concepts/containers-bci-intro.xml
  container-guide/concepts/containers-bci-tags.xml
  container-guide/concepts/containers-verify.xml
Labels: none

container-guide: refresh language stacks and expand application BCIs
  container-guide/concepts/containers-bci-app.xml
  container-guide/concepts/containers-bci-language.xml
Labels: none

container-guide: fix :latest tag note — staged migration, not done
  container-guide/concepts/containers-bci-tags.xml
Labels: none

container-guide: drop "stable" tag mention in language stacks note
  container-guide/concepts/containers-bci-language.xml
Labels: none

container-guide: don't imply a pre-announced flip date for bci-* :latest
  container-guide/concepts/containers-bci-tags.xml
Labels: none

Update suseconnect-visibility/xml/art_suseconnect_visibility.xml
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Labels: none

Apply suggestions from code review
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Labels: none

Adds Opt In/Out entry to suseconnect visibility (#240)
  suseconnect-visibility/xml/art_suseconnect_visibility.xml
Labels: none

Fix typo
  sap-ha-support/xml/art-sap-ha-support.xml
Labels: none

Fix typo (#246)
  sap-ha-support/xml/art-sap-ha-support.xml
Labels: none

Apply suggestions from code review
  container-guide/concepts/containers-bci-app.xml
  container-guide/concepts/containers-bci-language.xml
Labels: none

Apply suggestions from code review
  container-guide/concepts/containers-bci-labels.xml
  container-guide/concepts/containers-tools.xml
Labels: none

Apply suggestions from code review
  container-guide/concepts/containers-bci-general.xml
  container-guide/concepts/containers-bci-lifecycle.xml
Labels: none

Apply suggestions from code review
  container-guide/concepts/containers-bci-intro.xml
  container-guide/concepts/containers-bci-tags.xml
Labels: none

Fixed validation error
  container-guide/concepts/containers-bci-app.xml
Labels: none

Disabled revhistory generation
  container-guide/DC-Container-guide
  container-guide/l10n/zh-cn/DC-Container-guide
  licenses/DC-gfdl
  openscap/DC-SLES-openscap
  pcidss/DC-SLES-pci-dss
  pcidss/l10n/zh-cn/DC-SLES-pci-dss
  sap-ha-support/DC-sap-ha-support
  scc-hypervisor-collector/DC-SLE-scc-hypervisor-collector
  stig/DC-SLES-stig
  suseconnect-visibility/DC-SLE-suseconnect-visibility
  system-uptime-tracking/DC-SLE-system-uptime-tracking
Labels: prj:Container, prj:hypervisor, prj:openscap, prj:PCI-DSS, prj:sap-ha-support, prj:stig, prj:SUSEConnect

Hypervisor details: fixed bugzilla and github links
  scc-hypervisor-collector/xml/art-scc-hypervisor-collector.xml
Labels: none

july 2026 doc-kit run
  sap-ha-support/doc-kit.conf
  sap-ha-support/xml/common_copyright_gfdl.xml
  sap-ha-support/xml/common_intro_available_doc.xml
  sap-ha-support/xml/common_intro_convention.xml
  sap-ha-support/xml/common_intro_feedback.xml
  sap-ha-support/xml/common_intro_support.xml
  sap-ha-support/xml/common_legal.xml
  sap-ha-support/xml/common_license_gfdl1.2.xml
  sap-ha-support/xml/generic-entities.ent
Labels: prj:sap-ha-support

Fix validation
  sap-ha-support/xml/art-sap-ha-support.xml
  sap-ha-support/xml/generic-entities.ent
Labels: none

Update assignee for container guide
  container-guide/articles/Container-guide.asm.xml
  container-guide/l10n/zh-cn/xml/Container-guide.xml
Labels: none

Add initial files
  sap-ha-support/DC-sap-ha-support-angi
  sap-ha-support/DC-sap-ha-support-classic
  sap-ha-support/DC-sap-ha-support-s4hana-nw
  sap-ha-support/xml/art-sap-ha-support-angi.xml
  sap-ha-support/xml/art-sap-ha-support-classic.xml
  sap-ha-support/xml/art-sap-ha-support-s4hana-nw.xml
  sap-ha-support/xml/sap-ha-support-statement.xml
Labels: prj:sap-ha-support

GH Action: Update actions
  .github/workflows/docbook.yml
Labels: none

GH Action: Add trigger path for YAML files
  .github/workflows/docbook.yml
Labels: none

Add docs topic
  sap-ha-support/xml/art-sap-ha-support-angi.xml
  sap-ha-support/xml/art-sap-ha-support-classic.xml
  sap-ha-support/xml/art-sap-ha-support-s4hana-nw.xml
  sap-ha-support/xml/sap-ha-configuration-guides.xml
Labels: none

Add angi upgrade topic
  sap-ha-support/xml/art-sap-ha-support-angi.xml
  sap-ha-support/xml/art-sap-ha-support-classic.xml
  sap-ha-support/xml/art-sap-ha-support-s4hana-nw.xml
  sap-ha-support/xml/product-entities.ent
  sap-ha-support/xml/sap-ha-upgrade-to-saphanasr-angi.xml
Labels: none

Add hook script topics
  sap-ha-support/xml/art-sap-ha-support-angi.xml
  sap-ha-support/xml/art-sap-ha-support-classic.xml
  sap-ha-support/xml/art-sap-ha-support-s4hana-nw.xml
  sap-ha-support/xml/sap-ha-hadr-provider-hook-scripts-angi.xml
  sap-ha-support/xml/sap-ha-hadr-provider-hook-scripts-classic.xml
Labels: none

Add s4hana and nw overview
  sap-ha-support/xml/art-sap-ha-support-angi.xml
  sap-ha-support/xml/art-sap-ha-support-classic.xml
  sap-ha-support/xml/art-sap-ha-support-s4hana-nw.xml
  sap-ha-support/xml/product-entities.ent
  sap-ha-support/xml/sap-ha-solutions-for-s4hana-nw.xml
Labels: none

Add s4hana and nw support matrices
  sap-ha-support/xml/art-sap-ha-support-s4hana-nw.xml
  sap-ha-support/xml/sap-ha-solutions-for-s4hana-nw.xml
  sap-ha-support/xml/sap-ha-support-matrix-nw.xml
  sap-ha-support/xml/sap-ha-support-matrix-s4hana.xml
Labels: none
