Repository SUSE/doc-unversioned, pull requests merged in 2024-06, with the labels that each got.

#143 Container Guide: doc-kit run (fetch updates)
  container-guide/common/generic-entities.ent
  container-guide/common/license_gfdl1.2.xml
  container-guide/doc-kit.conf
  container-guide/templates/articles/assembly.asm.xml
Labels: prj:Container

#144 PCI-DSS: doc-kit run (fetch updates)
  pcidss/doc-kit.conf
  pcidss/xml/common_license_gfdl1.2.xml
  pcidss/xml/generic-entities.ent
Labels: prj:PCI-DSS

#128 Trento-change#2: Revamp of HANA cluster discovery
  trento/xml/article_sap_trento.xml
Labels: prj:Trento

#129 Trento-change#3: Non-K8s based installation of Trento Server
  trento/xml/article_sap_trento.xml
Labels: prj:Trento

#131 Trento-change#5: Replace Grafana with ad-hoc library
  trento/images/src/png/trento-web-hosts-dashboard-cpu-memory.png
  trento/xml/article_sap_trento.xml
Labels: prj:Trento

#133 Trento-change#7: Add new section "Rotating API keys"
  trento/images/src/png/trento-api-key-settings.png
  trento/images/src/png/trento-settings-apikey.png
  trento/xml/article_sap_trento.xml
Labels: prj:Trento

#134 Trento-change#8: Update of section "Performing configuration checks"
  trento/images/src/png/trento-web-nonmetexpectation.png
  trento/images/src/png/trento-web-pacemaker-cluster-details-view.png
  trento/xml/article_sap_trento.xml
Labels: prj:Trento

#137 Trento v2.3.0 change#10
  trento/xml/article_sap_trento.xml
Labels: prj:Trento

#146 Trento version 2.3.1 new flag required for helm installation
  trento/xml/article_sap_trento.xml
Labels: prj:Trento

#150 Add missing Trento Web Origin Configuration to Helm Command
  trento/xml/article_sap_trento.xml
Labels: documentation
